<!--
  ~ Copyright Vincent Blouin under the GPL License version 3
  -->

<div class="pull-right">
    <button type="button" class="add-friend-btn btn btn-danger hidden">
        <i class="fa fa-user-plus"></i>
        <span data-i18n="friends.addFriend"></span>
    </button>
    <button type="button" class="confirm-friendship-btn btn btn-danger hidden">
        <i class="fa fa-user-plus"></i>
        <span data-i18n="friends.confirm"></span>
    </button>
    <span class="waiting-friendship friend-label label label-default hidden" data-i18n="friends.waiting"></span>
    <span class="confirmed-friendship label friend-label label-default hidden" data-i18n="friends.confirmed"></span>
</div>


