@charset "UTF-8";
/* Copyright Vincent Blouin under the GPL License version 3 */
/* Copyright Vincent Blouin under the GPL License version 3 */
/* Copyright Vincent Blouin under the GPL License version 3 */
#registration-page { overflow-y: scroll; max-height: 500px; }
#registration-page .language-list { float: left; width: 100%; margin-bottom: 1em; }
#registration-page .language-list h5 { display: table-cell; vertical-align: bottom; padding-bottom: 0.8em; }
#registration-page .language-list > button { margin-top: 0.7em; }

.bullet { float: left; margin-right: 7px; }
.bullet:before { content: "• "; }

#selectedLanguages, .registration-available-languages { list-style-type: none; margin: 0; background-color: gray; overflow-x: hidden; overflow-y: hidden; width: 350px; max-height: 400px; }

#selectedLanguages li, .registration-available-languages li { padding-top: 0.5em; padding-bottom: 0.5em; position: relative; /*weird number 99.4%. Otherwise right border doesn't show*/ width: 99.4%; }

#selectedLanguages li .ui-icon, .registration-available-languages li .ui-icon { display: inline-block; }

#selectedLanguages li label, .registration-available-languages li label { margin-left: 0.4em; font-size: 1.2em; display: inline-block; }

.security-form-wrapper { height: 100%; }

.security-form a { float: left; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.root-vertex-super-container { position: absolute; background: radial-gradient(rgba(0, 0, 255, 0) 5%, #0b46ff 100%); }

.vertices-children-container { display: table-cell; vertical-align: middle; }

.vertices-children-container.left-oriented .vertex-tree-container { float: right; }

.vertex-tree-container { display: table; margin-left: 0; height: 1em; }

.clear-fix { clear: both; display: block; height: 0; width: 0; padding: 0; margin: 0; }

.vertex-container { display: table-cell; vertical-align: middle; padding-top: 5px; padding-bottom: 5px; }

.vertex.view-only { margin-top: 2em; margin-bottom: 2em; }

/*BORDER*/
.vertices-children-container .vertex-tree-container:first-child > .vertical-border-first { border-left: none; border-right: none; }

.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-second { border-left: none; border-right: none; }

.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-third { border-left: none; border-right: none; }

.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container > .vertex:before { border-left: none; border-right: none; }

.vertical-border { display: table; height: 50%; border-left: 2px solid #ff80ef; padding-right: 40px; }

.vertical-border.small { padding-right: 20px; }

.vertices-children-container .vertex-tree-container .vertical-border-third { height: 0; }

.vertical-border-filling { display: table; height: 0; padding: 0; width: 2px; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.left-oriented [data-action=addChild] .fa-arrow-right { transform: rotate(180deg); }
.left-oriented .vertex .in-bubble-content .in-bubble-note-button { margin: 0 5px 0 4px; }
.left-oriented .relation .in-bubble-content .in-bubble-note-button { left: auto; right: -32px; }
.left-oriented .relation .label-container { padding-left: 0; padding-right: 6px; }
.left-oriented .group-relation .label { margin-right: 0; margin-left: 0.3em; }
.left-oriented .bubble .arrow { left: auto; width: 47px; margin-left: -3px; }
.left-oriented .bubble .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }
.left-oriented .bubble.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); }
.left-oriented .bubble.view-only .arrow:before { left: 8px; }
.left-oriented .bubble.group-relation .arrow, .left-oriented .bubble.property .arrow { right: -42px; }
.left-oriented .bubble .connector { left: auto; right: -22px; }
.left-oriented .vertex-tree-container .vertical-border { border-left: none; border-right: 2px solid #ff80ef; }

/* Copyright Vincent Blouin under the GPL License version 3 */
#top-center-menu { position: fixed; left: 38%; top: 0.5em; width: 30em; }
#top-center-menu .ui-button { z-index: 3; }

#top-panel { margin-right: 160px; position: fixed; right: 0.1em; top: 0.5em; }
#top-panel > input[type=button], #top-panel > button, #top-panel > .link-like-button { float: left; margin-left: 15px; font-size: 1em; margin-top: 4px; }
#top-panel .dropdown a { text-align: left; }

.frontier { position: fixed; background-color: transparent; z-index: 0; }

.left-frontier { height: 100%; min-width: 2em; }

.right-frontier { height: 100%; min-width: 2em; right: 0; }

.top-frontier { width: 100%; min-height: 2em; }

.bottom-frontier { width: 100%; min-height: 2em; bottom: 0; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.ui-menu .ui-menu-item { border-bottom: 1px solid #d3d2d2; }
.ui-menu .ui-menu-item .element-label { font-weight: bold; font-size: 14px; padding-right: 43px; }
.ui-menu .ui-menu-item a { white-space: nowrap; }
.ui-menu .ui-menu-item span { white-space: nowrap; }
.ui-menu .ui-menu-item .info { font-size: 11px; }
.ui-menu .ui-menu-item .info * { font-size: 11px; }
.ui-menu .ui-menu-item .info a { color: #1919AC; display: inline; padding: 0; white-space: nowrap; }
.ui-menu .ui-menu-item .info a:hover { color: #47A3FF; }
.ui-menu .ui-menu-item .type { margin-top: -20px; float: right; }
.ui-menu .ui-menu-item .distinction { margin-right: 1em; max-width: 428px; font-weight: normal; overflow: hidden; text-overflow: ellipsis; }

#big-search-box-container .input-group { margin: auto; }
#big-search-box-container .search-icon { font-size: 1.7em; }

.autocomplete-flyout { position: absolute; width: 300px; background-color: white; /*one more than jquery ui dialog*/ z-index: 101; }
.autocomplete-flyout img { float: left; margin-right: 0.7em; }
.autocomplete-flyout .title { font-weight: bold; }
.autocomplete-flyout .source { font-weight: lighter; font-size: 85%; }

.ui-autocomplete { height: 200px; overflow-y: scroll; }

.ui-dialog { opacity: 0.9; }

#graph-element-menu { position: fixed; right: 10px; top: 100px; border: 1px solid #00005a; border-radius: 9px; max-width: 107px; padding: 1em; padding-top: 2em; cursor: all-scroll; margin-right: 0; margin-left: 0; }
#graph-element-menu [data-action=select] { position: relative; }
#graph-element-menu [data-action=select] i { position: absolute; top: 0; left: 0; margin: 0.20em; border: 1px dotted black; width: 80%; height: 80%; }
#graph-element-menu button:not(.main-menu) { display: none; }

button.graph-element-button { width: 30px; height: 30px; margin-bottom: 5px; margin-right: 3px; line-height: 20px; color: #333; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; border-bottom-color: #b3b3b3; border: 1px solid #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
button.graph-element-button:hover { background-image: linear-gradient(to bottom, #ffffff, #cdcdcd); }

button.add-button-in-list { color: green; font-weight: bold; font-size: 2em; margin-bottom: 0.2em; float: left; border: none; background-color: transparent; }
button.add-button-in-list:hover { color: #00d100; }

#selection-box { min-width: 45px; min-height: 40px; z-index: 100; background: rgba(0, 203, 255, 0.1); border: solid black; position: absolute; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.ui-dialog-titlebar { text-align: center; }

.vertex-note.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; text-align: center; }
.vertex-note.ui-dialog .ui-dialog-content { padding: 0; }
.vertex-note textarea { width: 100%; height: 93%; margin-bottom: 0; }

.graph-element-menu { opacity: 0.96; margin-right: auto; font-size: 1em; }
.graph-element-menu .html-content { margin-right: 1px; margin-left: 1px; }
.graph-element-menu h2, .graph-element-menu h3 { line-height: inherit; }
.graph-element-menu h2 { font-size: 1.3em; text-align: center; }
.graph-element-menu h3 { font-weight: normal; }
.graph-element-menu ul { list-style-type: none; }
.graph-element-menu .identifications { /*:-moz-placeholder for firefox 18- and ::-moz-placeholder for firefox 19+
*/ }
.graph-element-menu .identifications .add-identification { margin-top: 10px; }
.graph-element-menu .identifications .read-more:before, .graph-element-menu .identifications .read-more:after { content: "\00a0 "; }
.graph-element-menu .identifications .read-more a { font-weight: bold; }
.graph-element-menu .identifications .instruction { margin-top: 7px; margin-bottom: 11px; text-align: left; }
.graph-element-menu .identifications .img-container { float: left; margin-right: 15px; }
.graph-element-menu .identifications .origin-container a { color: inherit; }
.graph-element-menu .identifications .remove-btn { background-color: white; border: none; }
.graph-element-menu .identifications .remove-btn:focus { outline: none; }
.graph-element-menu .identifications .remove-btn i { color: red; margin-top: 50%; }
.graph-element-menu .identifications .description { margin-top: -7px; }
.graph-element-menu .identifications ul { text-align: left; }
.graph-element-menu .identifications ::-webkit-input-placeholder, .graph-element-menu .identifications :-moz-placeholder, .graph-element-menu .identifications ::-moz-placeholder, .graph-element-menu .identifications :-ms-input-placeholder { color: black; }
.graph-element-menu .ui-dialog-titlebar-close { background: transparent; border: none; }

.image-upload-wrapper .holder { border: 10px dashed #ccc; width: 150px; min-height: 150px; margin: 20px auto; }
.image-upload-wrapper .holder.hover { border: 10px dashed #0c0; }
.image-upload-wrapper .holder img { display: block; margin: 10px auto; }
.image-upload-wrapper .holder p { margin: 10px; font-size: 14px; }
.image-upload-wrapper .progress-label { position: relative; left: -100px; font-size: small; }
.image-upload-wrapper .progress-label:after { content: '%'; }
.image-upload-wrapper .fail { background: #c00; padding: 2px; color: #fff; }
.image-upload-wrapper .hidden { display: none !important; }

.ui-dialog-content a { color: #1919ac; }

.ui-dialog-content a:hover { color: #47A3FF; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.relation { position: relative; }
.relation .label { border-radius: 0.80em; }
.relation .menu { background-color: transparent; z-index: 11; margin-left: 5px; }
.relation .label-container { display: table-cell; padding-left: 6px; position: relative; }
.relation.suggestion .in-bubble-content { border: none; }
.relation.suggestion .in-bubble-content .bubble-label { border: 1px dashed black; background-color: white; color: black; text-shadow: none; }
.relation .in-bubble-content .bubble-label { background-color: #3a87ad; font-family: helvetica; font-size: 1.2em; height: auto; }
.relation .in-bubble-content .bubble-label:empty:not(:focus):before { content: attr(data-placeholder); font-style: italic; color: white; }
.relation .in-bubble-content .in-bubble-note-button { font-size: calc(1em + 0.6vw); position: absolute; left: -20px; top: 0; }
.relation .ui-button { width: 1.7em; height: 1.8em; margin: 0; }
.relation .duplicate-button-container { left: -20px; top: -23px; }

.relation { padding: 0; margin-top: 0; margin-right: 0; margin-left: 0; vertical-align: middle; }

.relation.selected .label { box-shadow: 0 0 8px #3005bb, inset 0 0 6px #3005bb; }

.relation input { border-radius: 3px 3px 3px 3px; border-width: 0.2em; border-color: #3A87AD; padding: 0; outline: none; font-family: courier new, monospace; font-size: 14px; vertical-align: middle; background-color: transparent; overflow: hidden; position: absolute; width: 100%; top: 0; left: 0; right: 0; z-index: 5; }

.relation.inverse .in-bubble-content .bubble-label { background: mediumpurple; }

.relation.inverse input[type=text] { border-color: red; }

.property input.edge-label { background-color: #f5f5f5; font-size: 13px; }
.property .relation-menu { left: 0; }

.group-relation { white-space: nowrap; }
.group-relation.selected .in-bubble-content .bubble-label { box-shadow: 0 0 8px #3005bb, inset 0 0 6px #3005bb; }
.group-relation .in-bubble-content .bubble-label { margin-right: 0.3em; z-index: 1; }

.edge-label { position: absolute; width: 100%; left: 0; right: 0; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.bubble { z-index: 5; cursor: default; display: table; /*.label to override bootstrap*/ white-space: nowrap; position: relative; min-width: 0; margin: 0 0 0 0; }
.bubble > *, .bubble .label { display: table-cell; vertical-align: middle; }
.bubble.view-only .arrow:before { left: 0; }
.bubble .in-bubble-content { position: relative; z-index: 3; }
.bubble .in-bubble-note-button { cursor: pointer; margin: 0 0.4em 0 0; display: block; }
.bubble.edit { -moz-user-select: text; }
.bubble .duplicate-button-container { position: absolute; }
.bubble .bubble-label { outline: 0 solid transparent; border: none; font-family: Helvetica; font-size: 14px; width: auto; display: table-cell; white-space: pre; }
.bubble .bubble-label:empty:not(:focus):before { content: attr(data-placeholder); color: grey; font-style: italic; }
.bubble.selected { z-index: 11; }
.bubble.selected .in-bubble-content { z-index: 5; }
.bubble .image_container { z-index: 3; position: relative; min-width: 60px; text-align: right; }
.bubble .image_container:empty { min-width: 0; }
.bubble .edge-label { display: inline; }
.bubble .connector { position: absolute; height: 1px; border-top: 2px solid #ff80ef; top: 50%; width: 65px; left: -22px; z-index: -1; }
.bubble .arrow { position: absolute; height: 1px; width: 47px; top: 50%; left: -42px; border-top: 2px solid #ff80ef; z-index: -1; }
.bubble .arrow ~ { background-color: yellow; }
.bubble .arrow ~ .in-bubble-note-button:not(hidden) { width: 100%; }
.bubble .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); position: relative; top: -11px; left: 20px; }
.bubble .menu { z-index: 3; width: 134px; margin-top: 5px; position: absolute; white-space: normal; background-color: transparent; opacity: 0.95; left: 0; top: 100%; }
.bubble .menu ul:first-of-type { padding-left: 5px; }
.bubble .menu ul { list-style: none; font-family: courier new, monospace; font-size: 18px; padding: 0 5px 0 0; margin: 0 0 0 0; display: inline; float: left; min-width: 12px; }
.bubble .menu input { float: left; background-color: transparent; background-position: center; padding-left: 2px; padding-right: 2px; margin: 0; display: table; border: 1px solid #e30613; font-weight: bold; font-size: 19px; min-width: 25px; min-height: 14px; margin-top: 0px; }
.bubble .menu .ui-button { float: left; background-color: white; }
.bubble.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }

/* Copyright Vincent Blouin under the GPL License version 3 */
.vertex { /*white-space: nowrap; because sometimes when hovering the relation menu and there is a vertex image it messes up */ white-space: nowrap; }
.vertex.suggestion .in-bubble-content { background-color: white; border: 1px dashed black; color: black; text-shadow: none; }
.vertex.public:after { font-family: FontAwesome; content: "\f09c"; position: absolute; font-size: 1.6em; }
.vertex.public .in-bubble-content { box-shadow: -10px 0 10px -10px #ff80ef, 10px 0 10px -10px #ff80ef; }
.vertex.edit .in-bubble-content { width: 325px; max-width: 325px; }
.vertex.edit .in-bubble-content .in-bubble-note-button { display: none; }
.vertex.edit .bubble-label { white-space: pre-wrap; }
.vertex.absolute { white-space: nowrap; position: absolute !important; min-width: 120px; }
.vertex.includes-vertices .in-bubble-content { padding-bottom: 2em; }
.vertex.selected { z-index: 12; }
.vertex.selected .in-bubble-content { box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb; }
.vertex.center-vertex .connector { height: 0; width: 0; }
.vertex.center-vertex .arrow { height: 0; width: 0; top: 0; left: 0; border-top: none; }
.vertex.center-vertex .arrow:before { content: ""; }
.vertex.center-vertex:before { border-left: none; height: 0; width: 0; top: 0; left: 0; }
.vertex.center-vertex .in-bubble-content { -webkit-box-shadow: 0 0 1em rgba(255, 128, 0, 0.1); -moz-box-shadow: 0 0 1em rgba(255, 128, 0, 0.1); box-shadow: 0 0 1em rgba(255, 128, 0, 0.5); }
.vertex.center-vertex.selected .in-bubble-content { box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb; border: solid red; }
.vertex .included-graph-elements-flag { position: absolute; top: 25px; left: 30%; font-weight: bold; }
.vertex .included-graph-elements-flag { z-index: 3; }
.vertex .in-bubble-content { border-radius: 50px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3d9ff+0,b1c8ef+41,98b0d9+100;Lavender+3D */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daeef6+0,96ddf2+50,ddeff7+100 */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffedb7+0,ffe28d+100 */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff2cb+0,ffebaf+100 */ white-space: normal; padding: 1em; padding-bottom: 0.7em; padding-top: 0.7em; margin-left: 0.3em; display: table; }
.vertex .in-bubble-content > * { display: table-cell; }
.vertex .in-bubble-content .bubble-label { padding: 0; }
.vertex .in-bubble-content .in-bubble-note-button { display: block; }
.vertex .in-bubble-content.surround-indicator { box-shadow: -10px 0 10px -10px #ff80ef, 10px 0 10px -10px #ff80ef; }
.vertex .in-bubble-content .duplicate-button-container { left: -17px; top: -18px; }
.vertex .move { background-image: url("images/icons/vertex/move.png"); min-width: 25px; min-height: 25px; margin-right: 5px; margin-left: 8px; float: left; }
.vertex .ui-button { width: 1.7em; height: 1.8em; margin-right: 0; font-size: 1.1em; padding: 0; }

.included-vertices-container .layout { position: absolute; }

/* Copyright Vincent Blouin under the GPL License version 3 */
[data-zoom="0"] .vertex.edit .in-bubble-content { width: 70vw; max-width: 70vw; }
[data-zoom="0"] .vertex .in-bubble-content { padding: calc(1em + 4vw); padding-bottom: calc(1em + 6vh); padding-top: calc(1em + 6vh); }
[data-zoom="0"] .vertex .in-bubble-content button { width: calc(30px + 1.5vw); height: calc(30px + 1.5vw); font-size: calc(1em + 0.5vw); }
[data-zoom="0"] .vertex .in-bubble-content button i { top: 50%; }
[data-zoom="0"] .vertex .in-bubble-content .menu { width: calc(146px + 7.5vw); }
[data-zoom="0"] .in-bubble-note-button { font-size: calc(1em + 5.33333vw); }
[data-zoom="0"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="0"] .bubble-label { font-size: calc(1em + 8vw); }

[data-zoom="1"] .vertex.edit .in-bubble-content { width: 65vw; max-width: 65vw; }
[data-zoom="1"] .vertex .in-bubble-content { padding: calc(1em + 2.9vw); padding-bottom: calc(1em + 4.35vh); padding-top: calc(1em + 4.35vh); }
[data-zoom="1"] .vertex .in-bubble-content button { width: calc(30px + 1.2vw); height: calc(30px + 1.2vw); font-size: calc(1em + 0.4vw); }
[data-zoom="1"] .vertex .in-bubble-content button i { top: 48%; }
[data-zoom="1"] .vertex .in-bubble-content .menu { width: calc(146px + 6vw); }
[data-zoom="1"] .in-bubble-note-button { font-size: calc(1em + 4.66667vw); }
[data-zoom="1"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="1"] .bubble-label { font-size: calc(1em + 7vw); }

[data-zoom="2"] .vertex.edit .in-bubble-content { width: 60vw; max-width: 60vw; }
[data-zoom="2"] .vertex .in-bubble-content { padding: calc(1em + 1.8vw); padding-bottom: calc(1em + 2.7vh); padding-top: calc(1em + 2.7vh); }
[data-zoom="2"] .vertex .in-bubble-content button { width: calc(30px + 0.9vw); height: calc(30px + 0.9vw); font-size: calc(1em + 0.3vw); }
[data-zoom="2"] .vertex .in-bubble-content button i { top: 46%; }
[data-zoom="2"] .vertex .in-bubble-content .menu { width: calc(146px + 4.5vw); }
[data-zoom="2"] .in-bubble-note-button { font-size: calc(1em + 4vw); }
[data-zoom="2"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="2"] .bubble-label { font-size: calc(1em + 6vw); }

[data-zoom="3"] .vertex.edit .in-bubble-content { width: 55vw; max-width: 55vw; }
[data-zoom="3"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="3"] .vertex .in-bubble-content button { width: calc(30px + 0.6vw); height: calc(30px + 0.6vw); font-size: calc(1em + 0.2vw); }
[data-zoom="3"] .vertex .in-bubble-content button i { top: 44%; }
[data-zoom="3"] .vertex .in-bubble-content .menu { width: calc(146px + 3.0vw); }
[data-zoom="3"] .in-bubble-note-button { font-size: calc(1em + 3.33333vw); }
[data-zoom="3"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="3"] .bubble-label { font-size: calc(1em + 5vw); }

[data-zoom="4"] .vertex.edit .in-bubble-content { width: 50vw; max-width: 50vw; }
[data-zoom="4"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="4"] .vertex .in-bubble-content button { width: calc(30px + 0.3vw); height: calc(30px + 0.3vw); font-size: calc(1em + 0.1vw); }
[data-zoom="4"] .vertex .in-bubble-content button i { top: 42%; }
[data-zoom="4"] .vertex .in-bubble-content .menu { width: calc(146px + 1.5vw); }
[data-zoom="4"] .in-bubble-note-button { font-size: calc(1em + 2.66667vw); }
[data-zoom="4"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="4"] .bubble-label { font-size: calc(1em + 4vw); }

[data-zoom="5"] .vertex.edit .in-bubble-content { width: 45vw; max-width: 45vw; }
[data-zoom="5"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="5"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="5"] .vertex .in-bubble-content button i { top: 40%; }
[data-zoom="5"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="5"] .in-bubble-note-button { font-size: calc(1em + 2vw); }
[data-zoom="5"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="5"] .bubble-label { font-size: calc(1em + 3vw); }

[data-zoom="6"] .vertex.edit .in-bubble-content { width: 40vw; max-width: 40vw; }
[data-zoom="6"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="6"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="6"] .vertex .in-bubble-content button i { top: 38%; }
[data-zoom="6"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="6"] .in-bubble-note-button { font-size: calc(1em + 1.33333vw); }
[data-zoom="6"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="6"] .bubble-label { font-size: calc(1em + 2vw); }

[data-zoom="7"] .vertex.edit .in-bubble-content { width: 35vw; max-width: 35vw; }
[data-zoom="7"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="7"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="7"] .vertex .in-bubble-content button i { top: 36%; }
[data-zoom="7"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="7"] .in-bubble-note-button { font-size: calc(1em + 0.66667vw); }
[data-zoom="7"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="7"] .bubble-label { font-size: calc(1em + 1vw); }

[data-zoom="8"] .vertex.edit .in-bubble-content { width: 30vw; max-width: 30vw; }
[data-zoom="8"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="8"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="8"] .vertex .in-bubble-content button i { top: 34%; }
[data-zoom="8"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="8"] .in-bubble-note-button { font-size: calc(1em + 0vw); }
[data-zoom="8"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="8"] .bubble-label { font-size: calc(1em + 0vw); }

[data-zoom="9"] .vertex.edit .in-bubble-content { width: 25vw; max-width: 25vw; }
[data-zoom="9"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="9"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="9"] .vertex .in-bubble-content button i { top: 32%; }
[data-zoom="9"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="9"] .in-bubble-note-button { font-size: calc(1em + 0vw); }
[data-zoom="9"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="9"] .bubble-label { font-size: calc(1em + 0vw); }

[data-zoom="10"] .vertex.edit .in-bubble-content { width: 20vw; max-width: 20vw; }
[data-zoom="10"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="10"] .vertex .in-bubble-content button { width: calc(30px + 0vw); height: calc(30px + 0vw); font-size: calc(1em + 0vw); }
[data-zoom="10"] .vertex .in-bubble-content button i { top: 30%; }
[data-zoom="10"] .vertex .in-bubble-content .menu { width: calc(146px + 0vw); }
[data-zoom="10"] .in-bubble-note-button { font-size: calc(1em + 0vw); }
[data-zoom="10"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="10"] .bubble-label { font-size: calc(1em + 0vw); }

.zoom-scale .menu { zoom: 30%; -moz-transform: scale(0.3); }

.zoom-scale-1 .in-bubble-content { zoom: 500%; -moz-transform: scale(5); }

html { font-size: 93.8%; }

@media screen and (min-width: 600px) { html { font-size: 100%; } }
@media screen and (min-width: 800px) { html { font-size: 125%; } }
#mind_map { cursor: all-scroll; -moz-user-select: -moz-none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
#mind_map h2, #mind_map h3 { line-height: inherit; }

#app-presentation { margin-top: 5%; }

#welcome-content .content > *:not(:first-child) { margin-top: 30px; }

.round-button { border-radius: 20px; }

.root-vertex-super-container { position: absolute; padding: 50%; }

a, input[type=button].link-like-button, button.link-like-button { color: #00005a; }

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover { color: #646464; }

input[type="button"], .link-like-button { border-style: none; font: inherit; padding: 0 0 0 0; background: none; }

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list { margin: auto; margin-right: 0.5em; color: red; font-weight: bold; font-size: 1.3em; background: transparent; border: none; position: absolute; right: 0; }

#cboxClose { left: -5px; }

.ui-button { padding: .4em 1em; cursor: pointer; font-size: 0.9em; }

.ui-accordion { font-size: 0.9em; }

.main-panel { z-index: 12; background-color: transparent; opacity: 0.91; -moz-border-radius: 15px; border-radius: 15px; cursor: default; }

.hidden-properties-container { z-index: 3; min-width: 25px; }
.hidden-properties-container img { width: 145px; height: auto; }

.link-like-button { border-style: none; font-size: 0.7em; padding: 0 0 0 0; background-color: transparent; font-weight: normal; }
