@charset "UTF-8";
/* Copyright Vincent Blouin under the GPL License version 3 */
/* Copyright Vincent Blouin under the GPL License version 3 */
/* Copyright Vincent Blouin under the GPL License version 3 */
.vertical-align { display: flex; align-items: center; }

.navbar-default { border: none; background-image: none; background-color: rgba(0, 0, 0, 0.3); }
.navbar-default .navbar-brand { color: white; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: white; }
.navbar-default .navbar-text { color: white; }
.navbar-default .navbar-nav > li > a { font-size: 1.1em; color: white; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: white; text-decoration: underline; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: white; background-color: rgba(18, 29, 70, 0.4); }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-image: none; color: white; background-color: rgba(18, 29, 70, 0.4); }
.navbar-default .navbar-toggle { border-color: rgba(18, 29, 70, 0.4); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgba(18, 29, 70, 0.4); }
.navbar-default .navbar-toggle .icon-bar { background-color: white; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: white; }
.navbar-default .navbar-link { color: white; }
.navbar-default .navbar-link:hover { color: white; }

@media (max-width: 767px) { .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: white; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: white; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: white; background-color: rgba(18, 29, 70, 0.4); } }
#share-link { font-size: 1.2em; }
#share-link i { text-shadow: none; }

/* Copyright Vincent Blouin under the GPL License version 3 */
#app-presentation { border-bottom: none; margin-top: 0; color: white; }
#app-presentation .background { position: absolute; background-image: url("images/sky-cut.jpg"); left: 0; width: 100%; min-height: 454px; }
#app-presentation .jumbotron { z-index: 1; display: flex; align-items: center; min-height: 454px; }
#app-presentation .jumbotron * { z-index: 1; width: 100%; font-weight: bold; }
#app-presentation .jumbotron p { box-sizing: border-box; padding-left: 20%; padding-right: 20%; }
#app-presentation .jumbotron button { width: auto; text-transform: capitalize; }
#app-presentation .jumbotron button:first-child { margin-right: 10px; }
#app-presentation .jumbotron button:last-child { margin-left: 10px; }
#app-presentation .jumbotron .fa { font-size: 125%; margin-bottom: 10px; }

#welcome-content img.example { width: 400px; }
#welcome-content .action { margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #eee; font-size: 18px; }
#welcome-content .action h2 { text-align: center; }
#welcome-content .action img { width: 100%; }
#welcome-content .action img[data-remote] { cursor: zoom-in; }
#welcome-content .action img[data-remote].video { cursor: pointer; }
#welcome-content .action ul { box-shadow: none; list-style-type: disc; }
#welcome-content .action li { display: block; border: none; cursor: pointer; }
#welcome-content .action li:hover { text-decoration: underline; }
#welcome-content .action li.active { background: none; color: inherit; text-shadow: none; font-weight: bold; }
#welcome-content .action li.image:before { font-family: 'FontAwesome'; content: '\f03e'; margin: 0 19px 0 -34px; font-weight: normal !important; }
#welcome-content .action li.video:before { font-family: 'FontAwesome'; content: '\f03d'; margin: 0 19px 0 -34px; font-weight: normal !important; }
#welcome-content .action .image-wrapper { height: 315px; }
#welcome-content .action .image-wrapper .play-button { top: 50%; left: 50%; position: absolute; margin-left: -25px; margin-top: -30px; font-size: 350%; color: black; cursor: pointer; }

.carousel-inner .item { background-color: transparent; }

.carousel.carousel-fit.slide { overflow: visible; }

.carousel-caption { color: inherit; text-shadow: none; font-weight: bold; padding-bottom: 15px; background-color: transparent; border-top: none; position: relative; }
.carousel-caption p { padding-top: 5px; padding-bottom: 5px; }

.carousel-control.right, .carousel-control.left { background-image: none; color: black; }
.carousel-control.right:hover, .carousel-control.left:hover { color: black; }

.carousel-indicators { bottom: -10px; }
.carousel-indicators li { background-color: gray; }
.carousel-indicators li.active { background-color: #333; }

@media (min-width: 1202px) { .modal-lg { width: 1200px; } }
#bigImageModal img { width: 100%; }

/* Copyright Vincent Blouin under the GPL License version 3 */
#registration-page { overflow-y: scroll; max-height: 500px; }
#registration-page .language-list { float: left; width: 100%; margin-bottom: 1em; }
#registration-page .language-list h5 { display: table-cell; vertical-align: bottom; padding-bottom: 0.8em; }
#registration-page .language-list > button { margin-top: 0.7em; }

.bullet { float: left; margin-right: 7px; }
.bullet:before { content: "• "; }

#selectedLanguages, .registration-available-languages { list-style-type: none; margin: 0; background-color: gray; overflow-x: hidden; overflow-y: hidden; width: 350px; max-height: 400px; }

#selectedLanguages li, .registration-available-languages li { padding-top: 0.5em; padding-bottom: 0.5em; position: relative; /*weird number 99.4%. Otherwise right border doesn't show*/ width: 99.4%; }

#selectedLanguages li .ui-icon, .registration-available-languages li .ui-icon { display: inline-block; }

#selectedLanguages li label, .registration-available-languages li label { margin-left: 0.4em; font-size: 1.2em; display: inline-block; }

.security-form-wrapper { height: 100%; }

.security-form a { float: left; }

/* Copyright Vincent Blouin under the GPL License version 3 */
#drawn_graph { position: absolute; background: radial-gradient(rgba(0, 0, 255, 0) 5%, #0b46ff 100%); }

.vertices-children-container { display: table-cell; vertical-align: middle; }

.vertices-children-container.left-oriented .vertex-tree-container { float: right; }

.vertex-tree-container { display: table; margin-left: 0; height: 1em; margin-top: -1px; /* margin top and bottom -1px so that both borders touch to make a continuous line */ margin-bottom: -1px; }

.clear-fix { clear: both; display: block; height: 0; width: 0; padding: 0; margin: 0; }

.vertex-container { display: table-cell; vertical-align: middle; padding-top: 5px; padding-bottom: 5px; }

.vertex.view-only { margin-top: 2em; margin-bottom: 2em; }

/*BORDER*/
.left-oriented.vertices-children-container .vertex-tree-container:first-child > .vertex-container .property .arrow, .left-oriented.vertices-children-container .vertex-tree-container:first-child > .vertex-container .group-relation .arrow, .left-oriented .vertices-children-container .vertex-tree-container:first-child > .vertex-container .property .arrow, .left-oriented .vertices-children-container .vertex-tree-container:first-child > .vertex-container .group-relation .arrow { border-top-left-radius: 0; border-top-right-radius: 25px; }
.left-oriented.vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .property .arrow, .left-oriented.vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .group-relation .arrow, .left-oriented .vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .property .arrow, .left-oriented .vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .group-relation .arrow { border-top-right-radius: 0; border-top-left-radius: 0; }
.left-oriented.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .property .arrow, .left-oriented.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .group-relation .arrow, .left-oriented .vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .property .arrow, .left-oriented .vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .group-relation .arrow { border-top: none; top: calc(50% - 1.4em); border-bottom: 3px solid #3a87ad; border-bottom-left-radius: 0; border-bottom-right-radius: 25px; }

.vertices-children-container .vertex-tree-container:first-child > .vertical-border-first { border-left: none; border-right: none; }
.vertices-children-container .vertex-tree-container:first-child > .vertical-border-second { border-top-right-radius: 18px; border-top-left-radius: 18px; }
.vertices-children-container .vertex-tree-container:first-child > .vertex-container .connector { border-radius: 25px; }
.vertices-children-container .vertex-tree-container:first-child > .vertex-container .property .arrow, .vertices-children-container .vertex-tree-container:first-child > .vertex-container .group-relation .arrow { border-top-left-radius: 25px; }
.vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .connector { border-radius: 0; }
.vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .property .arrow, .vertices-children-container .vertex-tree-container:first-child:last-of-type > .vertex-container .group-relation .arrow { border-radius: 0; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container > .vertex:before { border-left: none; border-right: none; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .connector { border-radius: 25px; border-bottom: 3px solid #3a87ad; border-top: none; top: calc(50% - 21px); }
.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .property .arrow, .vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .group-relation .arrow { border-top: none; top: calc(50% - 1.4em); border-bottom: 3px solid #3a87ad; border-bottom-left-radius: 25px; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container .property .arrow:before { top: calc(50% + 1px); position: relative; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-first { border-bottom-right-radius: 18px; border-bottom-left-radius: 18px; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-second { border-left: none; border-right: none; }
.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-third { border-left: none; border-right: none; }

.vertical-border { display: table; height: 50%; border-left: 3px solid #3a87ad; padding-right: 40px; }

.vertical-border.small { padding-right: 20px; }

.vertices-children-container .vertex-tree-container .vertical-border-third { height: 0; }

.vertical-border-filling { display: table; height: 0; padding: 0; width: 3px; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.left-oriented [data-action=addChild] .fa-arrow-right { transform: rotate(180deg); }
.left-oriented .vertex .in-bubble-content .in-label-buttons { margin-right: -32px; margin-left: auto; padding-right: 0; padding-left: 8px; }
.left-oriented .relation.public .label-container:after { right: auto; left: 4px; }
.left-oriented .relation .in-bubble-content .in-bubble-note-button { left: auto; right: -32px; }
.left-oriented .relation .label-container { padding-left: 0; padding-right: 6px; }
.left-oriented .property.public .label-container:after { right: auto; left: -16px; }
.left-oriented .group-relation .label { margin-right: 0; margin-left: 0.3em; }
.left-oriented .bubble .arrow { left: auto; width: 57px; margin-left: -3px; }
.left-oriented .bubble .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }
.left-oriented .bubble.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); }
.left-oriented .bubble.view-only .arrow:before { left: 8px; }
.left-oriented .bubble.group-relation .arrow, .left-oriented .bubble.property .arrow { left: auto; right: -46px; }
.left-oriented .bubble .connector { left: auto; right: -25px; }
.left-oriented .vertex-tree-container .vertical-border { border-left: none; border-right: 3px solid #3a87ad; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.frontier { position: fixed; background-color: transparent; z-index: 0; }

.left-frontier { height: 100%; min-width: 2em; }

.right-frontier { height: 100%; min-width: 2em; right: 0; }

.top-frontier { width: 100%; min-height: 2em; }

.bottom-frontier { width: 100%; min-height: 2em; bottom: 0; }

/* Copyright Vincent Blouin under the GPL License version 3 */
/*one more than navigation bar dialog*/
.ui-menu .ui-menu-item, .ui-menu .references-container, .identifications .ui-menu-item, .identifications .references-container { border-bottom: 1px solid #d3d2d2; }
.ui-menu .ui-menu-item .element-label, .ui-menu .references-container .element-label, .identifications .ui-menu-item .element-label, .identifications .references-container .element-label { font-weight: bold; font-size: 14px; padding-right: 43px; }
.ui-menu .ui-menu-item a, .ui-menu .references-container a, .identifications .ui-menu-item a, .identifications .references-container a { white-space: nowrap; }
.ui-menu .ui-menu-item span, .ui-menu .references-container span, .identifications .ui-menu-item span, .identifications .references-container span { white-space: nowrap; }
.ui-menu .ui-menu-item .info, .ui-menu .references-container .info, .identifications .ui-menu-item .info, .identifications .references-container .info { font-size: 11px; }
.ui-menu .ui-menu-item .info *, .ui-menu .references-container .info *, .identifications .ui-menu-item .info *, .identifications .references-container .info * { font-size: 11px; }
.ui-menu .ui-menu-item .info a, .ui-menu .references-container .info a, .identifications .ui-menu-item .info a, .identifications .references-container .info a { color: #1919AC; display: inline; padding: 0; white-space: nowrap; }
.ui-menu .ui-menu-item .info a:hover, .ui-menu .references-container .info a:hover, .identifications .ui-menu-item .info a:hover, .identifications .references-container .info a:hover { color: #47A3FF; }
.ui-menu .ui-menu-item .type, .ui-menu .references-container .type, .identifications .ui-menu-item .type, .identifications .references-container .type { margin-top: -20px; float: right; }
.ui-menu .ui-menu-item .distinction, .ui-menu .references-container .distinction, .identifications .ui-menu-item .distinction, .identifications .references-container .distinction { margin-right: 1em; max-width: 428px; font-weight: normal; overflow: hidden; text-overflow: ellipsis; }

#big-search-box-container .input-group { margin: auto; }
#big-search-box-container .search-icon { font-size: 1.7em; }

.autocomplete-flyout { position: absolute; width: 300px; background-color: white; z-index: 1031; text-align: center; border-radius: 20px; }
.autocomplete-flyout img { float: left; margin-left: 0.7em; margin-top: 0.7em; margin-bottom: 0.7em; }
.autocomplete-flyout .title { font-weight: bold; margin: 0.7em; margin-left: 0.5em; }
.autocomplete-flyout .source { font-weight: lighter; font-size: 85%; margin: 0.7em; margin-left: 0.5em; }
.autocomplete-flyout .description { margin: 0.7em; margin-top: 0; margin-left: 0.5em; text-align: center; }

.ui-autocomplete { height: 200px; overflow-y: scroll; z-index: 1031; }

.ui-dialog { opacity: 0.9; }

#graph-element-menu { position: fixed; right: 10px; top: 100px; border: 1px solid #00005a; border-radius: 9px; max-width: 180px; padding: 1em; cursor: all-scroll; margin-right: 0; margin-left: 0; }
#graph-element-menu button { background: none; border: none; box-shadow: none; font-size: 22px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); color: #474747; margin-top: -10px; }

button.graph-element-button { margin-bottom: 5px; margin-right: 3px; line-height: 20px; color: #333; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; border-bottom-color: #b3b3b3; border: 1px solid #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
button.graph-element-button:hover { background-image: linear-gradient(to bottom, #ffffff, #cdcdcd); }

.graph-element-button { width: 40px; height: 40px; font-size: 1.2em; }
.graph-element-button i { top: 25%; }

.menu { width: 180px; }

button.add-button-in-list { color: green; font-weight: bold; font-size: 2em; margin-bottom: 0.2em; float: left; border: none; background-color: transparent; }
button.add-button-in-list:hover { color: #00d100; }

#selection-box { min-width: 45px; min-height: 40px; z-index: 100; background: rgba(0, 203, 255, 0.1); border: solid black; position: absolute; }

#editor { max-height: 250px; height: 250px; border-collapse: separate; border: 1px solid #cccccc; padding: 4px; box-sizing: content-box; box-shadow: rgba(0, 0, 0, 0.07451) 0 1px 1px 0 inset; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; overflow: scroll; outline: none; }

#bubble-note-modal .btn-default { text-shadow: none; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.ui-dialog-titlebar { text-align: center; }

.vertex-note.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; text-align: center; }
.vertex-note.ui-dialog .ui-dialog-content { padding: 0; }
.vertex-note textarea { width: 100%; height: 93%; margin-bottom: 0; }

.graph-element-menu { opacity: 0.96; margin-right: auto; font-size: 1em; }
.graph-element-menu .html-content { margin-right: 1px; margin-left: 1px; }
.graph-element-menu h2, .graph-element-menu h3 { line-height: inherit; }
.graph-element-menu h2 { font-size: 1.3em; text-align: center; }
.graph-element-menu h3 { font-weight: normal; }
.graph-element-menu ul { list-style-type: none; }
.graph-element-menu .identifications { /*:-moz-placeholder for firefox 18- and ::-moz-placeholder for firefox 19+
*/ }
.graph-element-menu .identifications .add-identification { margin-top: 10px; }
.graph-element-menu .identifications .read-more:before, .graph-element-menu .identifications .read-more:after { content: "\00a0 "; }
.graph-element-menu .identifications .read-more a { font-weight: bold; }
.graph-element-menu .identifications .instruction { margin-top: 7px; margin-bottom: 11px; text-align: left; }
.graph-element-menu .identifications .img-container { float: left; margin-right: 15px; }
.graph-element-menu .identifications .remove-btn { background-color: white; border: none; }
.graph-element-menu .identifications .remove-btn:focus { outline: none; }
.graph-element-menu .identifications .remove-btn i { color: red; margin-top: 50%; }
.graph-element-menu .identifications .description { margin-top: -7px; }
.graph-element-menu .identifications .references-container { clear: both; float: left; margin-top: 0.5em; border-bottom: none; }
.graph-element-menu .identifications .references-container li.clickable { cursor: pointer; }
.graph-element-menu .identifications ul { text-align: left; }
.graph-element-menu .identifications ::-webkit-input-placeholder, .graph-element-menu .identifications :-moz-placeholder, .graph-element-menu .identifications ::-moz-placeholder, .graph-element-menu .identifications :-ms-input-placeholder { color: black; }
.graph-element-menu .ui-dialog-titlebar-close { background: transparent; border: none; color: black; }
.graph-element-menu .ui-dialog-titlebar-close .ui-button-icon-primary.ui-icon.ui-icon-closethick { display: none; }
.graph-element-menu .ui-dialog-titlebar-close .ui-button-text { display: none; }
.graph-element-menu .ui-dialog-titlebar-close:after { font-family: FontAwesome; content: "\f00d"; }

.image-upload-wrapper .holder { border: 10px dashed #ccc; width: 150px; min-height: 150px; margin: 20px auto; }
.image-upload-wrapper .holder.hover { border: 10px dashed #0c0; }
.image-upload-wrapper .holder img { display: block; margin: 10px auto; }
.image-upload-wrapper .holder p { margin: 10px; font-size: 14px; }
.image-upload-wrapper .progress-label { position: relative; left: -100px; font-size: small; }
.image-upload-wrapper .progress-label:after { content: '%'; }
.image-upload-wrapper .fail { background: #c00; padding: 2px; color: #fff; }
.image-upload-wrapper .hidden { display: none !important; }

.ui-dialog-content a { color: #1919ac; }

.ui-dialog-content a:hover { color: #47A3FF; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.relation.bubble { position: relative; }
.relation.bubble .label { border-radius: 0.80em; padding-top: 0.3em; }
.relation.bubble .menu { background-color: transparent; z-index: 11; margin-left: 5px; }
.relation.bubble .label-container { display: table-cell; padding-left: 6px; position: relative; }
.relation.bubble.suggestion .in-bubble-content { border: none; }
.relation.bubble.suggestion .in-bubble-content .label-info { border: 3px dashed black; background-color: #E7EEF2; color: black; text-shadow: none; }
.relation.bubble .in-bubble-content .label-info { background-color: #3a87ad; height: auto; font-size: 1.05em; }
.relation.bubble .in-bubble-content .bubble-label { display: inline-block; font-family: helvetica; font-size: 1.05em; }
.relation.bubble .in-bubble-content .bubble-label:empty:not(:focus):before { content: attr(data-placeholder); font-style: italic; color: white; }
.relation.bubble .in-bubble-content .in-label-buttons { display: inline-block; }
.relation.bubble .in-bubble-content .in-label-buttons button { font-size: 18px; margin-top: -13px; margin-bottom: -13px; }
.relation.bubble .in-bubble-content .in-label-buttons button i { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); color: white; }
.relation.bubble .ui-button { width: 1.7em; height: 1.8em; margin: 0; }

.relation { padding: 0; margin-top: 0; margin-right: 0; margin-left: 0; vertical-align: middle; }

.relation.selected .label { box-shadow: 4px 4px 4px black; }

.relation input { border-radius: 3px 3px 3px 3px; border-width: 0.2em; border-color: #3a87ad; padding: 0; outline: none; font-family: courier new, monospace; font-size: 14px; vertical-align: middle; background-color: transparent; overflow: hidden; position: absolute; width: 100%; top: 0; left: 0; right: 0; z-index: 5; }

.relation.inverse .in-bubble-content .label-info { background: darkslateblue; }

.relation.inverse input[type=text] { border-color: red; }

.bubble.property { margin-top: 1em; margin-bottom: 1em; }
.bubble.property input.edge-label { background-color: #f5f5f5; font-size: 13px; }
.bubble.property .relation-menu { left: 0; }
.bubble.property .arrow { width: 60px; left: -45px; padding-top: 10px; padding-bottom: 10px; top: calc(50% - 5px); }
.bubble.property .arrow:before { top: -50%; position: absolute; left: 26px; }

.bubble.group-relation { white-space: nowrap; }
.bubble.group-relation .arrow { height: 20px; }
.bubble.group-relation .arrow:before { content: none; }
.bubble.group-relation.selected .in-bubble-content .bubble-label { box-shadow: 5px 5px 5px black; }
.bubble.group-relation .in-bubble-content .bubble-label { margin-right: 0.3em; z-index: 1; }

.edge-label { position: absolute; width: 100%; left: 0; right: 0; }

/* Copyright Vincent Blouin under the GPL License version 3 */
.bubble { z-index: 5; cursor: default; display: table; /*.label to override bootstrap*/ white-space: nowrap; position: relative; min-width: 0; margin: 0 0 0 0; }
.bubble.dragged { background-color: transparent; }
.bubble > *, .bubble .label { display: table-cell; vertical-align: middle; }
.bubble.view-only .arrow:before { left: 0; }
.bubble .in-bubble-content { position: relative; z-index: 3; }
.bubble .in-bubble-content .in-label-buttons { display: inline-block; white-space: nowrap; }
.bubble .in-bubble-content .in-label-buttons button { display: inline-block; background: none; border: none; box-shadow: none; font-size: 20px; margin: -6px; }
.bubble.edit { user-select: text; cursor: text; }
.bubble .bubble-label { outline: 0 solid transparent; border: none; font-family: Helvetica; font-size: 14px; width: auto; display: table-cell; white-space: pre; }
.bubble .bubble-label[contenteditable='true']:before { content: "\feff "; }
.bubble .bubble-label:empty:not(:focus):before { content: attr(data-placeholder); color: grey; font-style: italic; }
.bubble.selected { z-index: 11; }
.bubble.selected .in-bubble-content { z-index: 5; }
.bubble .image_container { z-index: 3; position: relative; min-width: 60px; text-align: right; }
.bubble .image_container:empty { min-width: 0; }
.bubble .edge-label { display: inline; }
.bubble .connector { position: absolute; height: 22px; border-top: 3px solid #3a87ad; top: 50%; width: 65px; left: -25px; z-index: -1; }
.bubble .arrow { position: absolute; height: 1px; width: 52px; top: 50%; left: -46px; border-top: 3px solid #3a87ad; z-index: -1; }
.bubble .arrow ~ { background-color: yellow; }
.bubble .arrow ~ .in-bubble-note-button:not(hidden) { width: 100%; }
.bubble .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); position: relative; top: -11px; left: 20px; }
.bubble .menu { z-index: 3; margin-top: 5px; position: absolute; white-space: normal; background-color: transparent; opacity: 0.95; left: 0; top: 100%; }
.bubble .menu ul:first-of-type { padding-left: 5px; }
.bubble .menu ul { list-style: none; font-family: courier new, monospace; font-size: 18px; padding: 0 5px 0 0; margin: 0 0 0 0; display: inline; float: left; min-width: 12px; }
.bubble .menu input { float: left; background-color: transparent; background-position: center; padding-left: 2px; padding-right: 2px; margin: 0; display: table; border: 1px solid #e30613; font-weight: bold; font-size: 19px; min-width: 25px; min-height: 14px; margin-top: 0px; }
.bubble .menu .ui-button { float: left; background-color: white; }
.bubble.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }

/* Copyright Vincent Blouin under the GPL License version 3 */
.vertex { /*white-space: nowrap; because sometimes when hovering the relation menu and there is a vertex image it messes up */ white-space: nowrap; }
.vertex.drag-over .in-bubble-content { border: 3px dashed red; border-radius: 50px; }
.vertex.suggestion .in-bubble-content { border: 3px dashed black; color: black; text-shadow: none; }
.vertex.edit .in-bubble-content { width: 325px; max-width: 325px; }
.vertex.edit .in-bubble-content .in-bubble-note-button { display: none; }
.vertex.edit .bubble-label { white-space: pre-wrap; }
.vertex.absolute { white-space: nowrap; position: absolute !important; min-width: 120px; }
.vertex.includes-vertices .in-bubble-content { padding-bottom: 2em; }
.vertex .in-bubble-content .in-label-buttons { margin-left: -24px; padding-left: 0; padding-right: 8px; }
.vertex.selected { z-index: 12; }
.vertex.selected .in-bubble-content { box-shadow: 5px 5px 5px black; }
.vertex.selected.center-vertex .in-bubble-content { box-shadow: 5px 5px 5px black; }
.vertex.center-vertex .connector { height: 0; width: 0; }
.vertex.center-vertex .arrow { height: 0; width: 0; top: 0; left: 0; border-top: none; }
.vertex.center-vertex .arrow:before { content: ""; }
.vertex.center-vertex:before { border-left: none; height: 0; width: 0; top: 0; left: 0; }
.vertex.center-vertex .in-bubble-content { box-shadow: -1px -2px 1px midnightblue; }
.vertex .included-graph-elements-flag { position: absolute; top: 25px; left: 30%; font-weight: bold; }
.vertex .included-graph-elements-flag { z-index: 3; }
.vertex .in-bubble-content { border-radius: 50px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3d9ff+0,b1c8ef+41,98b0d9+100;Lavender+3D */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daeef6+0,96ddf2+50,ddeff7+100 */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffedb7+0,ffe28d+100 */ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff2cb+0,ffebaf+100 */ white-space: normal; padding: 1em; padding-bottom: 0.7em; padding-top: 0.7em; margin-left: 0.3em; display: table; }
.vertex .in-bubble-content > * { display: table-cell; }
.vertex .in-bubble-content .bubble-label { padding: 0; }
.vertex .in-bubble-content .in-bubble-note-button { display: block; }
.vertex .move { background-image: url("images/icons/vertex/move.png"); min-width: 25px; min-height: 25px; margin-right: 5px; margin-left: 8px; float: left; }
.vertex .ui-button { width: 1.7em; height: 1.8em; margin-right: 0; font-size: 1.1em; padding: 0; }

.included-vertices-container .layout { position: absolute; }

/* Copyright Vincent Blouin under the GPL License version 3 */
[data-zoom="0"] .vertex.edit .in-bubble-content { width: 70vw; max-width: 70vw; }
[data-zoom="0"] .vertex .in-bubble-content { padding: calc(1em + 3.5vw); padding-bottom: calc(1em + 5.25vh); padding-top: calc(1em + 5.25vh); }
[data-zoom="0"] .in-bubble-note-button { font-size: calc(1.5em + 5.33333vw); }
[data-zoom="0"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="0"] .bubble-label { font-size: calc(1em + 8vw); }

[data-zoom="1"] .vertex.edit .in-bubble-content { width: 65vw; max-width: 65vw; }
[data-zoom="1"] .vertex .in-bubble-content { padding: calc(1em + 2.4vw); padding-bottom: calc(1em + 3.6vh); padding-top: calc(1em + 3.6vh); }
[data-zoom="1"] .in-bubble-note-button { font-size: calc(1.5em + 4.66667vw); }
[data-zoom="1"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="1"] .bubble-label { font-size: calc(1em + 7.16667vw); }

[data-zoom="2"] .vertex.edit .in-bubble-content { width: 60vw; max-width: 60vw; }
[data-zoom="2"] .vertex .in-bubble-content { padding: calc(1em + 1.3vw); padding-bottom: calc(1em + 1.95vh); padding-top: calc(1em + 1.95vh); }
[data-zoom="2"] .in-bubble-note-button { font-size: calc(1.5em + 4vw); }
[data-zoom="2"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="2"] .bubble-label { font-size: calc(1em + 6.33333vw); }

[data-zoom="3"] .vertex.edit .in-bubble-content { width: 55vw; max-width: 55vw; }
[data-zoom="3"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="3"] .in-bubble-note-button { font-size: calc(1.5em + 3.33333vw); }
[data-zoom="3"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="3"] .bubble-label { font-size: calc(1em + 5.5vw); }

[data-zoom="4"] .vertex.edit .in-bubble-content { width: 50vw; max-width: 50vw; }
[data-zoom="4"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="4"] .in-bubble-note-button { font-size: calc(1.5em + 2.66667vw); }
[data-zoom="4"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="4"] .bubble-label { font-size: calc(1em + 4.66667vw); }

[data-zoom="5"] .vertex.edit .in-bubble-content { width: 45vw; max-width: 45vw; }
[data-zoom="5"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="5"] .in-bubble-note-button { font-size: calc(1.5em + 2vw); }
[data-zoom="5"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="5"] .bubble-label { font-size: calc(1em + 3.83333vw); }

[data-zoom="6"] .vertex.edit .in-bubble-content { width: 40vw; max-width: 40vw; }
[data-zoom="6"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="6"] .in-bubble-note-button { font-size: calc(1.5em + 1.33333vw); }
[data-zoom="6"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="6"] .bubble-label { font-size: calc(1em + 3vw); }

[data-zoom="7"] .vertex.edit .in-bubble-content { width: 35vw; max-width: 35vw; }
[data-zoom="7"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="7"] .in-bubble-note-button { font-size: calc(1.5em + 0.66667vw); }
[data-zoom="7"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="7"] .bubble-label { font-size: calc(1em + 2.16667vw); }

[data-zoom="8"] .vertex.edit .in-bubble-content { width: 30vw; max-width: 30vw; }
[data-zoom="8"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="8"] .in-bubble-note-button { font-size: calc(1.5em + 0vw); }
[data-zoom="8"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="8"] .bubble-label { font-size: calc(1em + 1.33333vw); }

[data-zoom="9"] .vertex.edit .in-bubble-content { width: 25vw; max-width: 25vw; }
[data-zoom="9"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="9"] .in-bubble-note-button { font-size: calc(1.5em + 0vw); }
[data-zoom="9"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="9"] .bubble-label { font-size: calc(1em + 0.5vw); }

[data-zoom="10"] .vertex.edit .in-bubble-content { width: 20vw; max-width: 20vw; }
[data-zoom="10"] .vertex .in-bubble-content { padding: calc(1em + 1vw); padding-bottom: calc(1em + 1.5vh); padding-top: calc(1em + 1.5vh); }
[data-zoom="10"] .in-bubble-note-button { font-size: calc(1.5em + 0vw); }
[data-zoom="10"] .in-bubble-note-button:before { font-family: FontAwesome; content: "\f02d"; }
[data-zoom="10"] .bubble-label { font-size: calc(1em + 0vw); }

.zoom-scale .menu { zoom: 30%; -moz-transform: scale(0.3); }

.zoom-scale-1 .in-bubble-content { zoom: 500%; -moz-transform: scale(5); }

/* Copyright Vincent Blouin under the GPL License version 3 */
#word-cloud-container { margin-top: 5%; }

#word-cloud { text-align: center; font-size: 30px; padding: 1em; }
#word-cloud span.clouditem { box-shadow: -1px -2px 1px midnightblue; color: black !important; cursor: pointer; padding: 0.40em; border-radius: 50px; line-height: 90%; margin: 0.2em; display: inline-block; }

/* Copyright Vincent Blouin under the GPL License version 3 */
#schemas-container { margin-top: 5%; }
#schemas-container li { font-size: 1.75em; }
#schemas-container li button { margin-left: 10px; font-size: 0.65em; }

/* Copyright Vincent Blouin under the GPL License version 3 */
body.print nav.navbar { display: none; }

html { font-size: 93.8%; }

body.no-scroll { overflow: hidden; }

@media screen and (min-width: 600px) { html { font-size: 100%; } }
@media screen and (min-width: 800px) { html { font-size: 125%; } }
[draggable] { cursor: move; -khtml-user-drag: element; }

#mind_map { -moz-user-select: -moz-none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
#mind_map h2, #mind_map h3 { line-height: inherit; }

#language-selector-container a.current { background-color: #e8e8e8; background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%); background-repeat: repeat-x; color: #262626; text-decoration: none; }

#schema-instructions { position: fixed; top: 10%; width: 100%; }

#welcome-content .content > *:not(:first-child) { margin-top: 30px; }

.round-button { border-radius: 20px; }

#drawn_graph { position: absolute; padding: 50%; }

a, input[type=button].link-like-button, button.link-like-button { color: #00005a; }

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover { color: #646464; }

input[type="button"], .link-like-button { border-style: none; font: inherit; padding: 0 0 0 0; background: none; }

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list { margin: auto; margin-right: 0.5em; color: red; font-weight: bold; font-size: 1.3em; background: transparent; border: none; position: absolute; right: 0; }

#cboxClose { left: -5px; }

.ui-button { padding: .4em 1em; cursor: pointer; font-size: 0.9em; }

.ui-accordion { font-size: 0.9em; }

.main-panel { z-index: 12; background-color: transparent; opacity: 0.91; -moz-border-radius: 15px; border-radius: 15px; cursor: default; }

.hidden-properties-container { z-index: 3; min-width: 25px; }
.hidden-properties-container img { width: 95px; height: auto; }

.link-like-button { border-style: none; font-size: 0.7em; padding: 0 0 0 0; background-color: transparent; font-weight: normal; }
