#vertices-list-panel input.filter{
    margin-left:25px;
    margin-bottom:0;
    padding-bottom:0;
    width:100%;
}

#vertices-list{
    font-size:1.2em;
    font-family:arial;
    list-style:none;
    padding-left:40px;
}


#vertices-list li{
    margin-left:-36px;
    background-color: white;
    opacity: 0.91;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width:175px;
    overflow-x:hidden;
    white-space: nowrap;
}
#vertices-list .link-like-button{
    font-size:0.9em;
    font-family: courier new, monospace;
}
#vertices-list-sort-options{
    margin-left: 0;
    padding-left:30px;
    padding-top:0px;
    margin-top:3px;
    margin-bottom:0px;
    white-space: nowrap;
    font-size:0.9em;
}

#vertices-list-sort-options li {
    margin-left: 0;
    text-indent: -0.5em;
    margin-bottom:2px;
    text-color:blue;
}

#vertices-list-sort-options li:last-child {
    margin-bottom:0px;
}


#vertices-list-sort-options li { padding-right: 0px; }

#vertices-list .min-number-of-edges-from-center-vertex{
    margin-right:5px;
    font-size:0.7em;
}

.sort-vertices-btn{
    z-index: 3;
    font-size:1em;
}

