/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.vertex-note {
  &.ui-dialog {
    .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center;
    }
    .ui-dialog-content {
      padding: 0;
    }
  }
  textarea {
    width: 95%;
    height: 93%;
    margin-bottom: 0;
  }
}

.graph-element-menu {
  opacity: 0.96;
  margin-right: auto;
  text-align: center;
  h2, h3 {
    line-height: inherit;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 0.8em;
  }
  ul {
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin-left: 0px;
    padding: 0;
    font-size: 12px;
  }
  .identifications {
    h3 {
      text-align: left;
      font-size: 0.9em;
    }
    .type-label {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: auto;
      overflow: hidden;
      font-size: 1em;
    }
    .description {
      font-size: 0.9em;
      text-align: left;
    }
    /*:-moz-placeholder for firefox 18-
      and ::-moz-placeholder for firefox 19+
    */
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
      color: black;
    }
  }
  .ui-dialog-titlebar-close {
    background: transparent;
    border: none;
  }
}

.image-upload-wrapper {
  .holder {
    border: 10px dashed #ccc;
    width: 150px;
    min-height: 150px;
    margin: 20px auto;
    &.hover {
      border: 10px dashed #0c0;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  .progress-label {
    position: relative;
    left: -100px;
    font-size: small;
    &:after {
      content: '%';
    }
  }
  .fail {
    background: #c00;
    padding: 2px;
    color: #fff;
  }
  .hidden {
    display: none !important;
  }
}

.ui-dialog-content ul {
  overflow-y: scroll;
  max-height: 400px;
}

.ui-dialog-content a {
  color: #1919AC
}

.ui-dialog-content a:hover {
  color: #47A3FF;
}