/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.vertex-note {
  &.ui-dialog {
    .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center;
    }
    .ui-dialog-content {
      padding: 0;
    }
  }
  textarea {
    width: 95%;
    height: 93%;
    margin-bottom: 0;
  }
}

.graph-element-menu {
  cursor: default;
  opacity: 0.96;
  margin-right: auto;
  font-size:1em;
  .html-content{
    margin-right:1px;
    margin-left:1px;
  }
  h2, h3 {
    line-height: inherit;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
  }
  .identifications {
    .img-container{
      float:left;
      margin-right:15px;
    }
    .remove-btn{
      background-color:white;
      border:none;
      &:focus{
        outline: none;
      }
      i{
        color:red;
        margin-top:50%;
      }
    }
    ul{
      text-align:left;
    }
    .instruction{
      margin-top:26px;
      font-size:1em;
      text-align:left;
    }
    /*:-moz-placeholder for firefox 18-
      and ::-moz-placeholder for firefox 19+
    */
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
      color: black;
    }
  }
  .ui-dialog-titlebar-close {
    background: transparent;
    border: none;
  }
}

.image-upload-wrapper {
  .holder {
    border: 10px dashed #ccc;
    width: 150px;
    min-height: 150px;
    margin: 20px auto;
    &.hover {
      border: 10px dashed #0c0;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  .progress-label {
    position: relative;
    left: -100px;
    font-size: small;
    &:after {
      content: '%';
    }
  }
  .fail {
    background: #c00;
    padding: 2px;
    color: #fff;
  }
  .hidden {
    display: none !important;
  }
}


.ui-dialog-content a {
  color: #1919AC
}

.ui-dialog-content a:hover {
  color: #47A3FF;
}