/*
 * Copyright Vincent Blouin under the Mozilla Public License 1.1
 */

body {
  cursor: all-scroll;
}

.root-vertex-super-container {
  position: absolute;
  padding: 50%;
}

a, input[type=button].link-like-button, button.link-like-button {
  color: #1919AC
}

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover {
  color: #47A3FF;
}

input[type="button"], .link-like-button {
  border-size: 0px;
  border-style: none;
  font: inherit;
  padding: 0 0 0 0;
  background: none;
}

button.graph-element-button {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  margin-right: 3px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border-bottom-color: #b3b3b3;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  &:hover {
    background-image: linear-gradient(to bottom, #fff, #CDCDCD);
  }
}

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list {
  margin: auto;
  margin-right: 0.5em;
  color: red;
  font-weight: bold;
  font-size: 1.3em;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
}

button {
  &.add-button-in-list {
    color: green;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.2em;
    float: left;
    &:hover {
      color: #00d100;
    }
    border: none;
    background-color: transparent;
  }
}

.included-vertices-container {
  .layout {
    position: absolute;
  }
}

#mind_map h2, #mind_map h3 {
  line-height: inherit;
}

#cboxClose {
  left: -5px;
}

/************ Registration and login *********************/
#registration-page {
  overflow-y: scroll;
  max-height: 500px;
  .language-list {
    float: left;
    width: 100%;
    margin-bottom: 1em;
    h5 {
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 0.8em;
    }
    > button {
      margin-top: 0.7em;
    }
  }
}

.bullet {
  float: left;
  margin-right: 7px;
  &:before {
    content: "• "
  }
}

#login-button, #register-button {
  display: block;
  margin-bottom: 1.2em;
}

#selectedLanguages, .registration-available-languages {
  list-style-type: none;
  margin: 0;
  background-color: gray;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 350px;
  max-height: 400px;
}

#selectedLanguages li, .registration-available-languages li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  /*weird number 99.4%. Otherwise right border doesn't show*/
  width: 99.4%;
}

#selectedLanguages li .ui-icon, .registration-available-languages li .ui-icon {
  display: inline-block;
}

#selectedLanguages li label, .registration-available-languages li label {
  margin-left: 0.4em;
  font-size: 1.2em;
  display: inline-block;
}

.security-form-wrapper {
  background-color: white;
  height: 100%;
}

.security-form a {
  float: left;
}

#register-link, #login-link {
  display: block;
  text-align: center;
}

#top-center-menu {
  position: fixed;
  left: 40%;
  top: 0.5em;
  width: 20em;
  .ui-button {
    z-index: 3;
  }
}

#graph-element-menu {
  position: fixed;
  right: 10px;
  top: 100px;
  border: 1px solid #0088CC;
  border-radius: 9px;
  max-width: 107px;
  padding: 1em;
  padding-top: 2em;
  cursor: all-scroll;
  margin-right: 0;
  margin-left: 0;
}

.ui-button {
  padding: .4em 1em;
  cursor: pointer;
  font-size: 0.9em;
}

.ui-accordion {
  font-size: 0.9em;
}

.ui-dialog {
  opacity: 0.9;
}

.ui-autocomplete {
  /*z-index one more than ui-dialog*/
  z-index: 101;
  height: 200px;
  overflow-y: scroll;
}

.ui-menu {
  .ui-menu-item {
    border-bottom: 1px solid rgb(211, 210, 210);
    .element-label{
      font-weight:bold;
      font-size: 14px;
      padding-right: 43px;
    }
    a {
      white-space: nowrap;
    }

    span {
      white-space: nowrap;
    }
    .info {
      font-size: 11px;
      margin-left: 0.5em;
      * {
        font-size: 11px;
      }
      a {
        color: #1919AC;
        display: inline;
        padding: 0;
        white-space: nowrap;
        &:hover {
          color: #47A3FF;
        }
      }
    }
    .type {
      margin-top:-20px;
      float:right;
    }
    .distinction {
      margin-right: 1em;
    }
  }
}

.frontier {
  position: fixed;
  background-color: transparent;
  z-index: 0;
}

.left-frontier {
  height: 100%;
  min-width: 2em;
}

.right-frontier {
  height: 100%;
  min-width: 2em;
  right: 0;
}

.top-frontier {
  width: 100%;
  min-height: 2em;
}

.bottom-frontier {
  width: 100%;
  min-height: 2em;
  bottom: 0;
}

.ui-loader {
  display: none;
}

body {
}

svg {
  z-index: 1;
}

[data-role=page] {
  font-family: helvetica;
  font-size: 1em;
}

.main-panel {
  z-index: 12;
  background-color: white;
  opacity: 0.91;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: default;
}

#bottom-center-panel {
  position: fixed;
  left: 45%;
  top: 95%;
}

.legend {
  display: inline;
  padding: 0.3em;
}

.private.legend {
  background-color: #E6E6FF;
}

.public.legend {
  background-color: #F9E5E5;
}

#top-panel {
  margin-right: 75px;
  position: fixed;
  right: 0.1em;
  top: 0.5em;
  > input[type=button], > button, > .link-like-button {
    float: left;
    margin-left: 15px;
    font-size: 0.9em;
    margin-top: 4px;
  }
  .dropdown {
    a {
      text-align: left;
    }
  }
}

#left-panel {
  margin-left: 5px;
  position: fixed;
  left: 0.1em;
  top: 0.5em;
  overflow: hidden;
  width: 225px;
}

#toggle-left-panel-collapse {
  float: right;
  position: fixed;
  left: 235px;
  top: 10px;
  z-index: 2;
  font-size: 1em;
}

#left-panel h2 {
  font-size: 1em;
  white-space: nowrap;
  text-decoration: underline
}

#sub-vertices-depth-slider {
  z-index: 3;
  width: 120px;
}

#sub-vertices-depth-index {
  border: 0;
  font-size: 1.2em;
}

.ui-dialog-content ul {
  overflow-y: scroll;
  max-height: 400px;
}

.ui-dialog-content a {
  color: #1919AC
}

.ui-dialog-content a:hover {
  color: #47A3FF;
}

.graph {
  background-color: white;
}

.graph-element {
  input[type='text'] {
    text-shadow: none;
    box-shadow: none;
    color: black;
    font-weight: normal;
  }
  .label {
    font-size: 13px;
  }
}

.group-relation {
  white-space: nowrap;
  &.selected {
    .label {
      box-shadow: 0 0 8px #3005bb, inset 0 0 6px #3005bb;
    }
  }
  .label-container {
    position: relative;
    .label {
      position: relative;
      margin-right: 0.3em;
      z-index: 1;
    }
    .menu {
      display: inline;
      top: 80%;
    }
  }
}

.bubble {
  display: table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
  &.view-only {
    .arrow {
      &:before{
        left: 0;
      }
    }
  }

  &.suggestion {
    .in-bubble-content, .label {
      background-color: white;
      border: 1px dashed black;
      color: black;
      text-shadow: none;
    }
  }
  white-space: nowrap;
  .bubble-label {
    outline: 0px solid transparent;
    border: none;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
    width: auto;
    display: table-cell;
    white-space: pre;
    min-width: 1em;
    height:17px;
    &:empty:not(:focus):before {
      content: attr(data-placeholder);
      color: grey;
      font-style: italic;
    }
  }
  position: relative;
  min-width: 0;
  margin: 0 0 0 0;
  &.selected {
    .in-bubble-content {
      z-index: 2;
    }
  }
  .image_container {
    z-index: 3;
    position: relative;
    min-width: 60px;
    &:empty {
      min-width: 0;
    }
    img {
      max-width: auto;
    }
  }
  .edge-label {
    display: inline;
  }
  .connector {
    position: absolute;
    height: 1px;
    border-top: 1px solid black;
    top: 50%;
    width: 65px;
    left: -22px;
    z-index: -1;
  }
  .arrow {
    position: absolute;
    height: 1px;
    width: 60px;
    top: 50%;
    left: -42px;
    border-top: 1px solid black;
    z-index: -1;
    &:before {
      content: url('images/icons/vertex/arrowhead_right.svg');
      position: relative;
      top: -10px;
      left: 20px;
    }
  }
  .menu {
    width: 134px;
    margin-top: 5px;
    position: absolute;
    white-space: normal;
    background-color: white;
    opacity: 0.95;
    left: 0;
    top: 100%;
    ul:first-of-type {
      padding-left: 5px;
    }
    ul {
      list-style: none;
      font-family: courier new, monospace;
      font-size: 18px;
      padding: 0 5px 0 0;
      margin: 0 0 0 0;
      display: inline;
      float: left;
      min-width: 12px;
    }
    input {
      float: left;
      background-color: transparent;
      background-position: center;
      padding-left: 2px;
      padding-right: 2px;
      margin: 0;
      display: table;
      border: 1px solid #e30613;
      font-weight: bold;
      font-size: 19px;
      min-width: 25px;
      min-height: 14px;
      margin-top: 0px;
    }
    .ui-button {
      float: left;
      background-color: white;
    }
  }
  &.inverse {
    .arrow:before {
      content: url('images/icons/vertex/arrowhead_left.svg');
    }
  }
}

.relation span.label {
  font-family: helvetica;
  height:14px;
  &:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-style: italic;
  }
}

.relation span.label.input-size {
  font-family: courier new, monospace;
  padding-right: 10px;
  font-size: 14px !important;
}

.vertex {
  cursor: default;
  /*white-space: nowrap; because sometimes when hovering the relation menu and there is a vertex image it messes up */
  white-space: nowrap;
  &.edit {
    .in-bubble-content {
      width: 325px;
      max-width: 325px;
    }
    .bubble-label {
      white-space: pre-wrap;
    }
  }
  &.public {
    .in-bubble-content {
      background-color: #F9E5E5;
    }
  }
  &.absolute {
    white-space: nowrap;
    position: absolute !important;
    min-width: 120px;
  }

  &.includes-vertices {
    .in-bubble-content {
      padding-bottom: 2em;
    }
  }
  &.selected {
    z-index: 12;
    .in-bubble-content {
      border-radius: 15px;
      box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb;
    }
  }
  &.center-vertex {
    .connector {
      height: 0;
      width: 0;
    }
    .arrow {
      height: 0;
      width: 0;
      top: 0;
      left: 0;
      border-top: none;
      &:before {
        content: ""
      }
    }
    &:before {
      border-left: none;
      height: 0;
      width: 0;
      top: 0;
      left: 0;
    }
    .in-bubble-content {
      border-radius: 15px;
      -webkit-box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.1);
      -moz-box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.1);
      box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.5);
    }
    &.selected {
      .in-bubble-content {
        box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb;
        border: solid red;
      }
    }
  }
  .included-graph-elements-flag {
    position: absolute;
    top: 25px;
    left: 30%;
    font-weight: bold;
  }
  .menu, .included-graph-elements-flag {
    z-index: 3;
  }
  .in-bubble-content {
    border-radius: 20px;
    background-color: #E6E6FF;
    white-space: normal;
    padding: 1em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    margin-left: 0.3em;
    position: relative;
    display: table;
    > * {
      display: table-cell;
    }
    .note-button {
      margin-right: 5px;
      margin-top: -3px;
    }
    button.duplicate {
      position: absolute;
      left: -15px;
      top: -30px;
    }
    border: 1px;
    border-color: transparent;
    border-style: solid;
    z-index: 2;
  }
  .move {
    background-image: url('images/icons/vertex/move.png');
    min-width: 25px;
    min-height: 25px;
    margin-right: 5px;
    margin-left: 8px;
    float: left;
  }
  .ui-button {
    width: 1.7em;
    height: 1.8em;
    margin-right: 0;
    font-size: 1.1em;
    padding: 0;
  }
}

.vertex-note {
  &.ui-dialog {
    .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center;
    }
    .ui-dialog-content {
      padding: 0;
    }
  }
  textarea {
    width: 95%;
    height: 93%;
    margin-bottom: 0;
  }
}

.graph-element-menu {
  opacity: 0.96;
  margin-right: auto;
  text-align: center;
  h2, h3 {
    line-height: inherit;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 0.8em;
  }
  ul {
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin-left: 0px;
    padding: 0;
    font-size: 12px;
  }
  .identifications {
    h3 {
      text-align: left;
      font-size: 0.9em;
    }
    .type-label {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: auto;
      overflow: hidden;
      font-size: 1em;
    }
    .description {
      font-size: 0.9em;
      text-align: left;
    }
    /*:-moz-placeholder for firefox 18-
      and ::-moz-placeholder for firefox 19+
    */
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
      color: black;
    }
  }
  .ui-dialog-titlebar-close {
    background: transparent;
    border: none;
  }
}

.edge-label {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.property {
  input.edge-label {
    background-color: #f5f5f5;
    font-size: 13px;
  }
  .relation-menu {
    left: 0;
  }
}

.relation {
  position: relative;
  .relation-menu {
    z-index: 11;
    position: absolute;
    left: 0;
    top: 22px;
  }
  .ui-button {
    width: 1.7em;
    height: 1.8em;
    margin: 0;
  }
}

.hidden-properties-container {
  z-index: 3;
  min-width: 25px;
}

.link-like-button {
  border-size: 0px;
  border-style: none;
  font-size: 0.7em;
  padding: 0 0 0 0;
  background-color: transparent;
  font-weight: normal;
}

.autocomplete-flyout {
  position: absolute;
  width: 300px;
  background-color: white;
  /*one more than jquery ui dialog*/
  z-index: 101;
  img {
    float: left;
    margin-right: 0.7em;
  }
  .title {
    font-weight: bold;
  }
  .source {
    font-weight: lighter;
    font-size: 85%;
  }
}

#selection-box {
  min-width: 45px;
  min-height: 40px;
  z-index: 100;
  background: rgba(0, 203, 255, 0.1);
  border: solid black;
  position: absolute;
}

.image-upload-wrapper {
  .holder {
    border: 10px dashed #ccc;
    width: 150px;
    min-height: 150px;
    margin: 20px auto;
    &.hover {
      border: 10px dashed #0c0;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  .progress-label {
    position: relative;
    left: -100px;
    font-size: small;
    &:after {
      content: '%';
    }
  }
  .fail {
    background: #c00;
    padding: 2px;
    color: #fff;
  }
  .hidden {
    display: none !important;
  }
}

.add-identification {
  float: left;
}

