/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.bubble .datepicker{
    z-index:5;
    position:absolute;
    background-color:white;
    opacity: 0.9;
    left:-220px;
    top:-34px;
}