<header class="navigation">
    <div class="navigation-wrapper">
        <a href="home.html" class="logo"></a>
        <nav class="nav-main">
            <ul class="nav-main-navigation">
                <li><a href="/desktop/home.html" class="dashboard" rel="localize[home.title.main]"></a></li>
                <li><a href="/desktop/users.html" class="users" rel="localize[users.title.main]"></a></li>
                <li><a href="/desktop/clients.html" class="articles" rel="localize[clients.title.main]"></a></li>
                <li><a href="/desktop/members.html" class="articles" rel="localize[members.title.main]"></a></li>
                <li><a href="/desktop/questionnaires.html" class="questionnaires" rel="localize[questionnaires.title.main]"></a></li>
                <li><a href="/desktop/reports.html" class="reports" rel="localize[reports.title.main]"></a></li>
                <li><a href="/desktop/search.html" class="search" rel="localize[search.title.main]"></a></li>
            </ul>

            <ul class="nav-main-user">
                <li><span class="user_info_welcome" rel="localize[header.welcome]"></span> <span class="user_info_user_name"></span></li>
                <li>
                    <a href="#" class="actions user_logout-button">
                    <img src="@{props.getString('ws.resource')}/css/images/icons/icon_user_logout.png" alt="" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>