<meta charset="UTF-8">

<title>Mind Map</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
    options = {
        ws: {app: '@{props.getString("ws.app")}',
            resource: '@{props.getString("ws.resource")}'
        },
        locale: '@{request.locale}',
        bundleName: 'graph-webapp'
    };
    @if{com.ovea.tadjin.util.Application.DEBUG}
    options.debug = true;
    @end{}
</script>

<link rel="stylesheet" href="../../css/ui-lightness/jquery-ui-1.8.16.custom.css"/>
<link rel="stylesheet" href="../../css/freebase/suggest.min.css"/>
<link rel="stylesheet" href="../../css/graph-main.css"/>

<!--Vertices list module-->
<link rel="stylesheet" href="../../module/mind_map/vertices_list/desktop/vertices_list.css"/>

<!--Date picker module-->
<link rel="stylesheet" href="../../module/mind_map/date_picker/desktop/jsdatepick-calendar/jsDatePick_rtl.css"/>

<!--<script src="@{props.getString('ws.resource')}/js/lib.js?v=@{props.getString('ws.resource.version')}"></script>-->

<!-- Libs -->

<script src="../../js/jquery/jquery-1.7.min.js"></script>
<!--<code>window.SESSION_COOKIE_NAME = 'ID';</code>-->
<script src="../../js/jquery/plugins/jquery.xdomain.js"></script>
<script src="../../js/jquery/jquery.json-2.2.min.js"></script>
<script src="../../js/jquery/jquery.nano.js"></script>
<script src="../../js/jquery/jquery.uniform.min.js"></script>

<!-- Ovea -->
<script src="../../js/ovea/logging-1.2.js"></script>
<script src="../../js/ovea/require-1.0.js"></script>
<script src="../../js/ovea/store-1.2.js"></script>
<script src="../../js/ovea/eventbus/eventbus-1.3.js"></script>
<script src="../../js/ovea/eventbus/eventbus.socketio-1.3.js"></script>
<script src="../../js/ovea/sync-1.0.js"></script>

<script src="../../js/jquery/jquery.mobile-1.0b2.js"></script>
<script src="../../js/ovea/jqm/contrib/jqm-contribs-1.0.js"></script>

<!--<script src="@{props.getString('ws.resource')}/js/graph-webapp.js?v=@{props.getString('ws.resource.version')}"></script>-->

<script src="../../js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script src="../../js/jquery/jquery.overscroll.js"></script>
<script src="../../js/jquery/jquery.tinysort.min.js"></script>
<script src="../../js/freebase/suggest.min.js"></script>

<script src="../../js/triple_brain/triple_brain.js"></script>
<script src="../../js/triple_brain/triple_brain.error.js"></script>
<script src="../../js/triple_brain/triple_brain.bus.js"></script>
<script src="../../js/triple_brain/triple_brain.ui.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/triple_brain.ui.all.js"></script>
<script src="../../js/triple_brain/triple_brain.module.js"></script>

<script src="../../js/triple_brain/mind_map/triple_brain.freebase.js"></script>

<script src="../../js/triple_brain/mind_map/triple_brain.transform_matrix_2d.js"></script>
<script src="../../js/triple_brain/mind_map/triple_brain.point.js"></script>
<script src="../../js/triple_brain/mind_map/triple_brain.segment.js"></script>

<script src="../../js/triple_brain/mind_map/triple_brain.vertex.js"></script>
<script src="../../js/triple_brain/mind_map/triple_brain.edge.js"></script>
<script src="../../js/triple_brain/mind_map/triple_brain.suggestion.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/triple_brain.template.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/triple_brain.drawn_graph.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/triple_brain.ui.graph.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/triple_brain.ui.mind_map.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/triple_brain.ui.left_panel.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/edge/triple_brain.ui.edge_creator.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/edge/triple_brain.ui.edge.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/edge/triple_brain.ui.edges.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/edge/triple_brain.ui.arrow_line.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/triple_brain.ui.vertex_and_edge_common.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/vertex/triple_brain.ui.vertex_creator.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/vertex/triple_brain.ui.vertex.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/vertex/triple_brain.ui.vertex_segments.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/vertex/hidden_neighbor_properties/triple_brain.ui.vertex.hidden_neighbor_properties_indicator_dashed_segment.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/vertex/hidden_neighbor_properties/triple_brain.ui.vertex_hidden_neighbor_properties_indicator.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/vertex/hidden_neighbor_properties/triple_brain.ui.vertex_hidden_neighbor_properties_panel.js"></script>

<script src="../../js/triple_brain/mind_map/desktop/vertex/triple_brain.ui.identification_menu.js"></script>
<script src="../../js/triple_brain/mind_map/desktop/vertex/triple_brain.ui.suggestion_menu.js"></script>

<!--Vertices list module-->
<script src="../../module/mind_map/vertices_list/desktop/triple_brain.template.vertices_list.js"></script>
<script src="../../module/mind_map/vertices_list/desktop/triple_brain.module.vertices_list.js"></script>
<script src="../../module/mind_map/vertices_list/desktop/triple_brain.module.vertices_list_creator.js"></script>
<script src="../../module/mind_map/vertices_list/desktop/triple_brain.module.vertices_list_element.js"></script>
<script src="../../module/mind_map/vertices_list/desktop/triple_brain.module.vertices_list_element_creator.js"></script>

<!--Date picker module-->
<script src="../../module/mind_map/date_picker/desktop/jsdatepick-calendar/jsDatePick.full.1.3.js"></script>
<script src="../../module/mind_map/date_picker/desktop/triple_brain.module.date_picker.js"></script>

        
<script>
@if{com.ovea.tadjin.util.Application.DEBUG}
    Log.level = Log.DEBUG;
@end{}
</script>
