@charset "UTF-8";
body { min-width: 30000px; min-height: 30000px; cursor: all-scroll; }

a, input[type=button].link-like-button, button.link-like-button { color: #1919ac; }

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover { color: #47A3FF; }

input[type="button"], button, .link-like-button { border-size: 0px; border-style: none; font: inherit; padding: 0 0 0 0; background: none; }

button.graph-element-button { width: 30px; height: 30px; margin-bottom: 5px; margin-right: 3px; line-height: 20px; color: #333; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; border-bottom-color: #b3b3b3; border: 1px solid #ccc; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
button.graph-element-button:hover { background-image: linear-gradient(to bottom, #ffffff, #cdcdcd); }

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list { margin: auto; margin-right: 0.5em; float: right; color: red; font-weight: bold; font-size: 1.3em; }

button.add-button-in-list { color: green; font-weight: bold; font-size: 2em; margin-left: 0.2em; margin-bottom: 0.2em; float: left; }
button.add-button-in-list:hover { color: #00d100; }

.overlay-container { position: relative; display: inline; }

.overlay { position: absolute; left: 0; right: 0; bottom: 0; top: 0; }

.canvas-parent, .included-vertices-container.canvas-parent { overflow: scroll; }

.included-vertices-container .layout { position: absolute; }

#mind_map h2, #mind_map h3 { line-height: inherit; }

#cboxClose { left: -5px; }

/************ Registration and login *********************/
#registration-page { overflow-y: scroll; max-height: 500px; }
#registration-page .language-list { float: left; width: 100%; margin-bottom: 1em; }
#registration-page .language-list h5 { display: table-cell; vertical-align: bottom; padding-bottom: 0.8em; }
#registration-page .language-list > button { margin-top: 0.7em; }

.bullet { float: left; margin-right: 7px; }
.bullet:before { content: "• "; }

#login-button, #register-button { display: block; margin-bottom: 1.2em; }

#selectedLanguages, .registration-available-languages { list-style-type: none; margin: 0; background-color: gray; overflow-x: hidden; overflow-y: hidden; width: 350px; max-height: 400px; }

#selectedLanguages li, .registration-available-languages li { padding-top: 0.5em; padding-bottom: 0.5em; /*weird number 99.4%. Otherwise right border doesn't show*/ width: 99.4%; }

#selectedLanguages li .ui-icon, .registration-available-languages li .ui-icon { display: inline-block; }

#selectedLanguages li label, .registration-available-languages li label { margin-left: 0.4em; font-size: 1.2em; display: inline-block; }

.security-form-wrapper { background-color: white; height: 100%; }

.security-form a { float: left; }

#register-link, #login-link { display: block; text-align: center; }

#top-center-menu { position: fixed; left: 40%; top: 0.5em; width: 20em; }
#top-center-menu .ui-button { z-index: 3; }

#graph-element-menu { position: fixed; right: 10px; top: 100px; border: 1px solid #0088CC; border-radius: 9px; max-width: 107px; padding: 1em; padding-top: 2em; cursor: all-scroll; margin-right: 0; margin-left: 0; }

.ui-button { padding: .4em 1em; cursor: pointer; font-size: 0.9em; }

.ui-accordion { font-size: 0.9em; }

.ui-dialog { opacity: 0.9; }

.ui-autocomplete { /*z-index one more than ui-dialog*/ z-index: 101; height: 200px; overflow-y: scroll; }

.ui-menu .ui-menu-item a { white-space: nowrap; }
.ui-menu .ui-menu-item span { white-space: nowrap; }
.ui-menu .ui-menu-item .info { font-size: 11px; margin-left: 0.5em; }
.ui-menu .ui-menu-item .info * { font-size: 11px; }
.ui-menu .ui-menu-item .info a { color: #1919AC; display: inline; padding: 0; white-space: nowrap; }
.ui-menu .ui-menu-item .info a:hover { color: #47A3FF; }
.ui-menu .ui-menu-item .distinction { font-weight: bold; margin-right: 1em; }

.frontier { position: fixed; background-color: transparent; z-index: 0; }

.left-frontier { height: 100%; min-width: 2em; }

.right-frontier { height: 100%; min-width: 2em; right: 0; }

.top-frontier { width: 100%; min-height: 2em; }

.bottom-frontier { width: 100%; min-height: 2em; bottom: 0; }

.ui-loader { display: none; }

svg { z-index: 1; }

[data-role=page] { font-family: helvetica; font-size: 1em; }

.main-panel { z-index: 12; background-color: white; opacity: 0.91; -moz-border-radius: 15px; border-radius: 15px; cursor: default; }

#bottom-center-panel { position: fixed; left: 45%; top: 95%; }

.legend { display: inline; padding: 0.3em; }

.private.legend { background-color: #E6E6FF; }

.public.legend { background-color: #FFE8E8; }

#top-panel { margin-right: 5px; position: fixed; right: 0.1em; top: 0.5em; }
#top-panel > input[type=button], #top-panel > button, #top-panel > .link-like-button { float: left; margin-left: 15px; font-size: 0.9em; margin-top: 4px; }
#top-panel .dropdown a { text-align: left; }

#left-panel { margin-left: 5px; position: fixed; left: 0.1em; top: 0.5em; overflow: hidden; width: 225px; }

#toggle-left-panel-collapse { float: right; position: fixed; left: 235px; top: 10px; z-index: 2; font-size: 1em; }

#left-panel h2 { font-size: 1em; white-space: nowrap; text-decoration: underline; }

#sub-vertices-depth-slider { z-index: 3; width: 120px; }

#sub-vertices-depth-index { border: 0; font-size: 1.2em; }

.ui-dialog-content ul { overflow-y: scroll; max-height: 400px; }

.ui-dialog-content a { color: #1919ac; }

.ui-dialog-content a:hover { color: #47A3FF; }

.graph { background-color: white; }

.when-default-graph-element-text { font-style: italic; }

.graph-element input[type='text'] { text-shadow: none; box-shadow: none; color: black; font-weight: normal; }

.group-relation { position: relative; min-width: 0; margin: 0 0 0 0; white-space: nowrap; }
.group-relation .menu { display: inline; }
.group-relation.selected .label { box-shadow: 0 0 8px #3005bb, inset 0 0 6px #3005bb; }
.group-relation .label { position: relative; display: inline-block; margin-right: 0.3em; z-index: 1; }
.group-relation .arrow { position: absolute; height: 1px; width: 60px; top: 50%; left: -42px; border-top: 1px solid black; }
.group-relation .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); position: relative; top: -10px; left: 20px; }
.group-relation.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }

.vertex { cursor: default; /*white-space: nowrap; because sometimes when hovering the relation menu and there is a vertex image it messes up */ white-space: nowrap; }
.vertex.public .in-bubble-content { background-color: #FFE8E8; }
.vertex.absolute { white-space: nowrap; position: absolute !important; min-width: 120px; }
.vertex.relative { position: relative; min-width: 0; margin: 0 0 0 0; }
.vertex.relative .arrow { position: absolute; height: 1px; width: 60px; top: 50%; left: -42px; border-top: 1px solid black; }
.vertex.relative .arrow:before { content: url("images/icons/vertex/arrowhead_right.svg"); position: relative; top: -10px; left: 20px; }
.vertex.relative.inverse .arrow:before { content: url("images/icons/vertex/arrowhead_left.svg"); }
.vertex.includes-vertices .in-bubble-content { padding-bottom: 2em; }
.vertex.highlighted .in-bubble-content, .vertex.highlighted .image_container, .vertex.highlighted .menu, .vertex.highlighted .included-graph-elements-flag { z-index: 11; }
.vertex.highlighted .in-bubble-content { border: 1px; -moz-border-radius: 15px; border-radius: 15px; border-color: green; border-style: solid; }
.vertex.selected { z-index: 12; }
.vertex.selected .in-bubble-content { border-radius: 15px; box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb; }
.vertex.center-vertex .arrow { height: 0; width: 0; top: 0; left: 0; border-top: none; }
.vertex.center-vertex .arrow:before { content: ""; }
.vertex.center-vertex:before { border-left: none; height: 0; width: 0; top: 0; left: 0; }
.vertex.center-vertex .in-bubble-content { border-radius: 15px; -webkit-box-shadow: 0 0 1em rgba(255, 128, 0, 0.1); -moz-box-shadow: 0 0 1em rgba(255, 128, 0, 0.1); box-shadow: 0 0 1em rgba(255, 128, 0, 0.5); }
.vertex.center-vertex.selected .in-bubble-content { box-shadow: 0px 0px 5px #3005bb, inset 0px 0px 2px #3005bb; border: solid red; }
.vertex input[type="text"].label { border: 0; padding: 0; spacing: 0; outline: none; font-family: courier new, monospace; text-align: left; font-size: 14px; vertical-align: middle; background-color: transparent; margin-bottom: 0.4em; width: auto; overflow: hidden; }
.vertex .included-graph-elements-flag { position: absolute; top: 25px; left: 30%; font-weight: bold; }
.vertex .in-bubble-content, .vertex .image_container, .vertex .menu, .vertex .included-graph-elements-flag { z-index: 3; }
.vertex .in-bubble-content { border-radius: 20px; background-color: #E6E6FF; white-space: nowrap; padding: 1em; padding-bottom: 0.7em; padding-top: 0.7em; margin-left: 0.3em; position: relative; display: inline-block; border: 1px; border-color: transparent; border-style: solid; }
.vertex .in-bubble-content .note-button { margin-right: 5px; margin-top: -3px; }
.vertex .image_container { display: inline-block; position: relative; width: 60px; }
.vertex .image_container:empty { width: 0; }
.vertex .move { background-image: url("images/icons/vertex/move.png"); min-width: 25px; min-height: 25px; margin-right: 5px; margin-left: 8px; float: left; }
.vertex .ui-button { width: 1.7em; height: 1.8em; margin-right: 0; font-size: 1.1em; padding: 0; }
.vertex .ui-button.duplicate { position: absolute; left: -15px; top: -30px; }
.vertex .menu { float: left; width: 132px; margin-top: 5px; position: absolute; white-space: normal; background-color: white; opacity: 0.95; }
.vertex .menu ul:first-of-type { padding-left: 5px; }
.vertex .menu ul { list-style: none; font-family: courier new, monospace; font-size: 18px; padding: 0 5px 0 0; margin: 0 0 0 0; display: inline; float: left; min-width: 12px; }
.vertex .menu input { display: block; float: left; background-color: transparent; background-position: center; padding-left: 2px; padding-right: 2px; margin: 0; display: table; border: 1px solid #e30613; font-weight: bold; font-size: 19px; min-width: 25px; min-height: 14px; margin-top: 0px; }
.vertex .menu .ui-button { float: left; background-color: white; }

.vertex-note.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; text-align: center; }
.vertex-note.ui-dialog .ui-dialog-content { padding: 0; }
.vertex-note textarea { width: 95%; height: 93%; margin-bottom: 0; }

.edge { position: absolute; z-index: 2; cursor: default; }
.edge input[type="text"] { border: 0px; padding: 0px; spacing: 0px; margin: 0px 0px 0px; outline: none; width: auto; text-align: left; background-color: transparent; font-size: 14px; font-family: courier new, monospace; }
.edge .remove { background-color: transparent; border-size: 0px; border-style: none; padding: 0px; font-weight: bold; color: red !important; text-align: center; }

.highlighted-edge { border: 1px; border-color: green; border-style: solid; background-color: white; opacity: 0.96; background-color: white; z-index: 10; }

.graph-element-menu { opacity: 0.96; margin-right: auto; text-align: center; }
.graph-element-menu h2, .graph-element-menu h3 { line-height: inherit; }
.graph-element-menu h2 { font-size: 1em; }
.graph-element-menu h3 { margin-top: 5px; font-weight: normal; font-size: 0.8em; }
.graph-element-menu ul { margin-left: 0px; margin-bottom: 5px; padding: 0; list-style-type: none; }
.graph-element-menu li { margin-left: 0px; padding: 0; font-size: 12px; }
.graph-element-menu .identifications { /*:-moz-placeholder for firefox 18- and ::-moz-placeholder for firefox 19+
*/ }
.graph-element-menu .identifications h3 { text-align: left; font-size: 0.9em; }
.graph-element-menu .identifications .type-label { text-align: center; padding-top: 10px; padding-bottom: 10px; margin: auto; overflow: hidden; font-size: 1em; }
.graph-element-menu .identifications .description { font-size: 0.9em; text-align: left; }
.graph-element-menu .identifications ::-webkit-input-placeholder, .graph-element-menu .identifications :-moz-placeholder, .graph-element-menu .identifications ::-moz-placeholder, .graph-element-menu .identifications :-ms-input-placeholder { color: black; }

.relation .relation-menu { z-index: 11; position: absolute; left: 0; }
.relation .ui-button { width: 1.7em; height: 1.8em; margin: 0; }

.suggestion.ui-draggable { list-style-type: none; font-size: 1em; font-weight: normal; background: -moz-linear-gradient(left, #cdffcd, white); background: -webkit-gradient(linear, left right, left right, from(#cdffcd), to(white)); border: 1px solid green; line-height: 2.5em; min-width: 20em; padding-bottom: 3px; padding-top: 3px; }
.suggestion ul { list-style-type: none; white-space: nowrap; }
.suggestion li { font-size: 0.9em; font-weight: normal; margin-left: 0; padding: 0; background: -moz-linear-gradient(left, #cdffcd, white); background: -webkit-gradient(linear, left right, left right, from(#cdffcd), to(white)); width: 100%; text-align: left; padding-bottom: 3px; padding-top: 3px; border: 1px solid green; line-height: 2.5em; }
.suggestion li .text { margin-left: 0.5em; }

.hidden-properties-container { display: inline-block; z-index: 3; width: 25px; }

.link-like-button { border-size: 0px; border-style: none; font-size: 0.7em; padding: 0 0 0 0; background-color: transparent; font-weight: normal; }

.autocomplete-flyout { position: absolute; width: 300px; background-color: white; /*one more than jquery ui dialog*/ z-index: 101; }
.autocomplete-flyout img { float: left; margin-right: 0.7em; }
.autocomplete-flyout .title { font-weight: bold; }
.autocomplete-flyout .source { font-weight: lighter; font-size: 85%; }

#selection-box { min-width: 45px; min-height: 40px; z-index: 100; background: rgba(0, 203, 255, 0.1); border: solid black; position: absolute; }
