/* Forms :: Dynaform
----------------------------------------------------------------------------------------------------*/
table, thead, tfoot {
    font-size: 13px;
    width: 100%;
    }

table {
    margin-bottom:10px;
    }

thead {
    border-style: solid;
    border-width: 1px
    }

#questionnaires table {
    width:100%;
    }

th, td {
	padding:8px 0;
	text-align:center;
	border-bottom:1px solid #D3D3D3;
	vertical-align:middle;
    }

.datatable td {
    padding:2px 0;
    }

th {
	font-size:13px;
	font-weight:bold;
	border-bottom:1px solid;
    }

h5+p {
    margin-top:2px;
    }

.questionnaire-content thead, .questionnaire-content tfoot, .questionnaire-content tbody {
    width:70%;
    }

.dynaform-group .content, .dynaform-group .question,
.dynaform-group .group, .dynaform-group .question table {
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin: 5px;
    }

.dynaform-group select {
    margin-right: 5px;
    }

.dynaform-group label {
    color: gray;
    font-weight:normal;
    }

.dynaform-group label.choice {
    padding-right: 10px;
    margin-left:5px;
    display: inline-block;
    padding-top:1px;
    }

.dynaform-group label.title {
    margin-bottom:10px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    }

.dynaform-group .container {
    display: inline-block;
    }

.dynaform-group .container > div {
    display: inline-block;
    }
.dynaform-group .question table th {
    }

.dynaform-group .question table th label, table th label{
    color:#F2DEDA;
    text-shadow:0 1px 1px #4D4D4D;
    font-weight:bold;
    font-size:115%;
    }

.dynaform-group .question table th.empty, table th.empty {
    }

.dynaform-group .question table th.row, table th.row {
    }

.dynaform-group .question table caption, table caption {
    font-weight: bold;
    color: gray;
    }

.dynaform-group .question table td, table td {
    /*border: 1px solid #d3d3d3;*/
    }

.dynaform-group .question table td:first-child,  table td:first-child {
    text-align:left;
    text-indent:10px;
    }

.dynaform-group input.other-value {
    }

.dynaform-group input.other-value:hover, .dynaform-group input.other-value:focus {
    }

.dynaform-group .error {
    border: 1px solid red;
    }

.dynaform-group .error .error-detail {
    color: #cc1b1b;
    font-weight: bold;
    }

.questionnaire-content .hide {
    display: none;
}

.questionnaire-content .show {
    display: block;
}

/*  Form :: Layout  */
.form h3 {
    font-size:20px;
    font-weight:bold;
    margin: 12px 0 10px 7px;
    }

.form dl > dt {
    font-size:13px;
    line-height:21px;
    min-height: 20px;
    text-align: left;
    margin:0 0 5px;
    font-weight:bold;
    }

label {
    font-weight:normal;
    }

.form dd dt {
    float:right;
    }

.form fieldset dt, .form.horizontal-form fieldset dt {
    width:80px
    }

.form dd, .form.horizontal-form dd {
    }

.form dt.long, .form.horizontal-form dt.long {
    width:252px;
    }

.form dd.long, .form.horizontal-form dd.long {
    margin-left:280px;
    }

.form dd p, .form.horizontal-form dd p {
	font-size:77%;
	position:relative;
	top:-4px;
    }

.form.vertical-form dd:last-child {
    margin-bottom:25px;
    }

.form.vertical-form dt {
	width:auto;
	text-align:left;
	margin:15px 0 5px;
    }

.form.vertical-form dt.clear-tm {
    margin-top:0;
    }

.form.vertical-form dd {
    position:static;
    }

.form.vertical-form dd.checkbox, form.vertical-form dd.radio {
	margin-bottom:0;
	position:relative;
	left:0;
    }

.form.vertical-form dd.checkbox {
    top:-23px;
    }

.form.vertical-form dt.checkbox, .form.vertical-form dt.radio {
	left:20px;
	margin:0;
    }

.form dt.checkbox, .form dt.radio {
    text-align:left;
    }

.form dd.text {
	max-width:600px;
	top:-21px;
    }

form dd.text p {
	font-size:100%;
	top:-1px;
    }

input.small, textarea.small {
    width:25%;
    }

input.medium, textarea.medium {
    width:50%;
    }

input.large, textarea.large {
    width:90%;
    }

input.full, textarea.full {
    width:96%;
    }

textarea.footer {
    width:94%;
    resize:vertical;
    }

.pagination {
    margin:10px 0;
    }

/* Forms :: Dynaform rewrite
----------------------------------------------------------------------------------------------------*/
.dynaform-group .content, .dynaform-group .question,
.dynaform-group .group, .dynaform-group .question table {
    border: none;
    margin: 0;
    padding: 5px;
    }

.dynaform-group .element {
    padding:1px 0;
    }

.dynaform-group .question table caption {
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 10px;
    text-align: left;
    }

.dynaform-group .container > div {
    display: table;
    }

/* Forms :: Styling
----------------------------------------------------------------------------------------------------*/


div.ui-slider {
    background-clip: padding-box;
    border-radius:1em 1em 1em 1em;
    display: inline-block;
    height: 12px;
    margin: 0 2% 0 50px;
    overflow: visible;
    padding: 0;
    position: relative;
    top: 4px;
    background: -moz-linear-gradient(center top , #EEEEEE, #FDFDFD) repeat scroll 0 0 #FDFDFD;
    border-bottom:2px solid #FFFFFF;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFFFFF;
    box-shadow:2px 2px 2px #8B8B8B inset;
    }

a.ui-slider-handle {
    background: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
    }

.dynaform-group div.ui-slider {
    width:45%;
    }

.ui-slider-handle {
    border-radius:15px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    background: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #444444;
    font-weight: bold;
    text-shadow: 0 1px 1px #F6F6F6;
    }

/* Forms :: Collapsible */
.form h3.ui-collapsible-heading {
    cursor:pointer;
    }

.ui-collapsible-heading a {
    text-decoration:none;
    }

.ui-collapsible-heading a .ui-btn-inner {
    position:relative;
    }

.ui-collapsible-contain {
    margin:0 0 10px;
    }
    
.ui-collapsible-heading a span.ui-btn {
    background: url("images/icon_collapsible.png") no-repeat scroll 0 -2px transparent;
    height: 27px;
    margin: -13px 0 0;
    padding: 0;
    position: absolute;
    right: -30px;
    text-indent: -9999px;
    top: 50%;
    width: 27px;
    }

.ui-collapsible-heading-collapsed a span.ui-btn {
    background: url("images/icon_collapsible.png") no-repeat scroll 0 -29px transparent;
    }

.ui-collapsible-contain.success a span.ui-btn {
    background:url("images/icon_collapsible.png") no-repeat scroll 0 -56px transparent;
    }

.ui-collapsible-contain.error a span.ui-btn {
    background:url("images/icon_collapsible.png") no-repeat scroll 0 -83px transparent;
    }

.ui-collapsible-content {
    padding:0 8px 10px;
    }

.ui-collapsible-heading a .ui-btn-inner {
    padding-left:40px;
    }

.ui-collapsible-contain {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F7F7FF);
    border: 1px solid #BDC6D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #E5EFF8 inset;
    }

/* Forms :: Style :: MCV
----------------------------------------------------------------------------------------------------*/
.mcv .ui-collapsible-contain {
    background:-moz-linear-gradient(top, #fff 0%, #fff0f3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff0f3));
	background:-webkit-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:-o-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:-ms-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:linear-gradient(top, #fff 0%,#fff0f3 100%);
    border: 1px solid #E9A2B2;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    }

.mcv a, .mcv a:hover {
    color:#AE432E;
    }

.mcv input:focus, .mcv textarea:focus, .mcv select:focus {
    background-color: #fff0f3;
    -moz-transition: all 1s ease 0s;
    color:#333333;
    }

.dynaform-group .mcv_table table th:nth-child(1) {
    width:60%
    }

.dynaform-group .mcv_table table th:nth-child(2) {
    width:10%
    }

.dynaform-group .mcv_table table th:nth-child(3) {
    width:10%
    }

.dynaform-group .mcv_table table th:nth-child(4) {
    width:20%
    }

.dynaform-group .drugs_table table th:nth-child(1) {
    width:80%
    }

.dynaform-group .drugs_table table th:nth-child(2) {
    width:10%
    }

.dynaform-group .drugs_table table th:nth-child(3) {
    width:10%
    }

table.non_modifiable-rf th:nth-child(1) {
    width:40%
    }

table.non_modifiable-rf th:nth-child(2) {
    width:30%
    }

table.non_modifiable-rf th:nth-child(3) {
    width:30%
    }

table.modifiable-rf th:nth-child(1) {
    width:40%
    }

table.modifiable-rf th:nth-child(2) {
    width:20%
    }

table.modifiable-rf th:nth-child(3) {
    width:20%
    }

table.modifiable-rf th:nth-child(4) {
    width:20%
    }

.know_more-aside {
    border: 4px solid #EEB4C3;
    border-radius: 15px 15px 15px 15px;
    display: block;
    float: right;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 13px;
    padding-right: 20px;
    width: 30%;
    }

.know_more-aside ul li {
    background:none;
    list-style:none;
    }

.mcv_container, .hra_container {
    background:-moz-linear-gradient(top, #fff 0%, #fff0f3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff0f3));
	background:-webkit-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:-o-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:-ms-linear-gradient(top, #fff 0%,#fff0f3 100%);
	background:linear-gradient(top, #fff 0%,#fff0f3 100%);
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    border: 1px solid #E9A2B2;
    -webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
    padding: 15px 25px 20px;
    margin-bottom:25px;
    width:736px;
    float:left;
    }


.mcv_container > *:last-child {
    margin-bottom:0;
    }

.hra_container > *:last-child {
    margin-bottom:0;
    }

.result_sidebar {
    float: left;
    width: 156px;
    }

.result_sidebar ul {
    margin-right:0;
    }

.result_sidebar ul li {
    position:relative;
    cursor:pointer;
    background: none;
    border-bottom: 1px dotted #CCCCCC;
    color: #AE432E;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 6px 10px 6px 0;
    text-shadow: 0 1px 1px #CCCCCC;
    }

.result_sidebar ul li.active {

    }

.result_sidebar ul li.active:after {
    position: absolute;
    background-image: url(images/forms/arrow_mcv.png);
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    right: -13px;
    top: 7px;
    }

.previous-container {
    margin-top:10px;
    float:left;
    }

.next-container {
    margin-top:10px;
    float:right;
    }

/* Forms :: Style :: STRESS
----------------------------------------------------------------------------------------------------*/

.stress .ui-collapsible-contain {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #996666);
    border: 1px solid #99A2B2;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    }

.stress a, .stress a:hover {
    color:#AE432E;
    }

.stress input:focus, .stress textarea:focus, .stress select:focus {
    background-color: #fff0f3;
    -moz-transition: all 1s ease 0s;
    color:#333333;
    }

.dynaform-group .stress_table table th:nth-child(1) {
    width:60%
    }

.dynaform-group .stress_table table th:nth-child(2) {
    width:10%
    }

.dynaform-group .stress_table table th:nth-child(3) {
    width:10%
    }

.dynaform-group .stress_table table th:nth-child(4) {
    width:20%
    }

.dynaform-group .drugs_table table th:nth-child(1) {
    width:80%
    }

.dynaform-group .drugs_table table th:nth-child(2) {
    width:10%
    }

.dynaform-group .drugs_table table th:nth-child(3) {
    width:10%
    }

table.non_modifiable-rf th:nth-child(1) {
    width:40%
    }

table.non_modifiable-rf th:nth-child(2) {
    width:30%
    }

table.non_modifiable-rf th:nth-child(3) {
    width:30%
    }

table.modifiable-rf th:nth-child(1) {
    width:40%
    }

table.modifiable-rf th:nth-child(2) {
    width:20%
    }

table.modifiable-rf th:nth-child(3) {
    width:20%
    }

table.modifiable-rf th:nth-child(4) {
    width:20%
    }

.know_more-aside {
    border: 4px solid #EEB4C3;
    border-radius: 15px 15px 15px 15px;
    display: block;
    float: right;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 13px;
    padding-right: 20px;
    width: 30%;
    }

.know_more-aside ul li {
    background:none;
    list-style:none;
    }

.stress_container {
    background-color: transparent;
    border-radius: 6px 6px 6px 6px;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #fff0f3);
    border: 1px solid #E9A2B2;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -2px #f2c8ec inset;
    padding: 15px 20px 20px;
    margin-bottom:25px;
    }

.stress_container > *:last-child {
    margin-bottom:0;
    }

table.thermometer tbody{
    }

table.thermometer tbody tr{
    background:none;
    }
table.thermometer td{
    margin: 0;
    padding: 0;
    }

.progress-bar.huge {
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 0;
    }

.progress-bar {
    height:30px;
    }

.progress-bar div {
    height:30px;
    border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    }

.progress-bar div span {
    top:7px;
    }

table.milestone th:first-child {
    text-align:left;
    padding-left:8px;
    }
table.milestone th:last-child {
    text-align:right;
    padding-right:8px;
    }