/* HTML5 Reset
----------------------------------------------------------------------------------------------------------------------*/
@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del,
dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:    0;
    padding:   0;
    border:    0;
    font-size: 100%;
    font:      inherit;
}

.notification {
    display:               block;
    clear:                 both;
    padding:               5px 8px 5px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    border:                1px solid;
    background-position:   8px 9px;
    background-repeat:     no-repeat;
    margin:                10px 3px;
}


.notification p {
    margin: 5px 0;
    color: #666666;
}

.notification h4, .content-box .section .notification h4 {
    margin:      3px 0 5px;
    font-size:   123.1%;
    text-shadow: none;
}

.notification.error {
    border-color: #AE432E;
    background-color: #FDDFDE;
}

.notification.success {
}

.notification.attention {
}

.notification.information {
}

.notification.note {
    background: #F2F2F2;
}

ul li.red {
    color: #cc3333;
}

.bottom-links {
    margin:5px 0 10px;
    text-align:center;
}

.bottom-links a {
    margin:0 3px;
}

.center-button {
    margin: 0 auto 5px;
    position: relative;
    display: table;
}

input[type=button]{
    background: -moz-linear-gradient(center top , #D95338 0%, #AE432E 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center top, from(#D95338), to(#AE432E));
    border-radius: 5px 5px 5px 5px;
    color: #F2DEDA;
    border-style: solid;
    border-width: 1px;
    border-color: #A6402B #993B28 #803121;
    box-shadow: 0 1px 2px #A6A6A6;
    text-shadow: 0 1px 1px #4D4D4D;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    overflow: visible;
    padding: 7px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

/* login panel
----------------------------------------------------------------------------------------------------------------------*/
.security-form-wrapper {
    margin: 40px auto 0;
    width:  450px;
}

#login-form dl {
    height: 100px;
}

.security-form dt {
    width: 110px;
}

.security-form dt.remember {
    top: -12px;
}

.security-form dd {
    width:       66%;
    margin-left: 130px;
}

.security-form dt.checkbox {
    position: relative;
    color:    #CCCCCC;
    left:     130px;
    top:      -20px;
    width:    200px;
}

.security-form dt.checkbox label {
    font-weight: normal;
    color:       #666666;
}

.security-form dd.remember {
    top:         -46px;
    margin-left: 150px;
}

.security-form button {
    margin-left: 125px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    background-color: #ff9;
    color:            #000;
    text-decoration:  none;
}

mark {
    background-color: #ff9;
    color:            #000;
    font-style:       italic;
    font-weight:      bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor:        help;
}

table {
    border-collapse: collapse;
    border-spacing:  0;
}

table thead tr {
    background-color: #C4534B;
}

hr {
    display:    block;
    height:     1px;
    border:     0;
    border-top: 1px solid #ccc;
    margin:     1em 0;
    padding:    0;
}

input, select {
    vertical-align: middle;
}

pre, code, kbd, samp {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

a, a:active, a:visited, h1, h2, h3, h4, h5, #nav-sub .box-list li a:hover {
    color: #ae432e;
}

a:hover, a:active {
    outline: none;
}

.nav-main ul, .nav-main li {
    margin:           0;
    list-style:       none;
    list-style-image: none;
}

small {
    font-size: 85%;
}

td {
    vertical-align: top;
}

sub, sup {
    font-size:   75%;
    line-height: 0;
    position:    relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap:   break-word;
    padding:     15px;
}

textarea {
    overflow: auto;
}

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea {
    margin: 0;
}

input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
    border-radius:      1px;
    -moz-box-shadow:    0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow:         0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

button {
    width:    auto;
    overflow: visible;
}

/* General settings
----------------------------------------------------------------------------------------------------------------------*/
body {
    zoom:       1;
    font:       13px/1.231 Arial, Helvetica, sans-serif;
    *font-size: small;
}

/* fixed layout */
body.fixed .page-wrapper {
    overflow:    hidden;
    width:       990px;
    margin:      0 auto;
    padding-top: 80px;
}

h1, h2, h3, h4, h5 { font-family: Calibri, Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, strong, b {
    font-weight: bold;
}

h3, h4, h5 {
    margin-bottom: 5px;
}

em, i {
    font-style: italic;
}

h1 {
    font-size: 197%;
    margin:    0 0 .8em;
}

h2 {
    font-size: 167%;
    margin:    .75em;
}

h3 {
    font-size: 153.9%;
    margin:    .83em;
}

h4 {
    font-size: 131%;
    margin:    1.12em;
}

h5 {
    font-size: 116%;
    margin:    1.5em;
}

p {
    line-height: 170%;
    margin:      .75em;
}

a, a:active, a:visited {
    outline: none;
}

ul, ol {
    margin: 0 0 1em 1em;
}

ol {
    margin-left: 2em;
}

ol {
    list-style-type: decimal;
}

ul, ol {
    margin:      1em 2em;
    line-height: 170%;
}

ol ol, ol ol ol, ul ul, ul ul ul {
    margin: .5em 2em;
}

ol {
    list-style: decimal;
}

ol ol {
    list-style: lower-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ul {
    margin: 15px 5px;
    list-style-position: inside;
}

ul li:last-child {
    margin-bottom: 0;
}


/* tables
----------------------------------------------------------------------------------------------------------------------*/
table {
    width:         89%;
    font-size:     93%;
    border-top:    1px solid;
    border-bottom: 1px solid;
}

tbody {
    border-top:    1px solid;
    border-bottom: 1px solid;
}

table input[type="checkbox"] {
    margin:   0 6px;
    position: static;
}

table .pagination {
    float:  right;
    margin: 5px 0;
}

table .pagination li {
    float:        left;
    list-style:   none;
    background:   none;
    padding:      0;
    margin-right: 5px;
}

table .pagination li.hellip {
    padding-top: 2px;
}

table .pagination li:last-child {
    margin-right: 0;
}

table .actions {
    margin:  0 5px 0;
    padding: 0;
}

table .actions li {
    background:   none;
    list-style:   none;
    float:        left;
    margin-right: 5px;
    padding:      0;
}

table .actions li a {
    display:     block;
    height:      16px;
    width:       16px;
    text-indent: -9999em;
}

table .actions li:last-child {
    margin-right: 0;
}

/* content layout article/section
----------------------------------------------------------------------------------------------------------------------*/
.article {
    margin-bottom: 2%;
}

.article .article-container {
    display:  block;
    overflow: hidden;
}

.article .header h2 {
    font-size:      18px;
    margin:         8px 0;
    text-transform: uppercase;
    float:          left;
    line-height:    18px;
}

.article .header .nav {
    float: right;
}

.article .article-inner {
    overflow: hidden;
}

.article .article-inner h3 {
    font-size: 18px;
}

.article .article-inner h4 {
    font-size: 16px;
}

.article .article-inner h5 {
    font-size:      108%;
    text-transform: uppercase;
}

p {
    font-size:     100%;
    line-height:   150%;
    margin-bottom: 0.67em;
}

ol li {
    line-height: 160%;
}

.article footer {
    clear:       both;
    padding-top: 10px;
    margin-top:  20px;
    border-top:  1px solid #e5e5e5;
    font-size:   85%;
    color:       #999;
}

/* login panel new modification
----------------------------------------------------------------------------------------------------------------------*/
.content-box {
    margin:     0 0 20px;
    position:   relative;
}

.col-1-3 {
    width:        35%;
    margin-right: 2%;
    float:        left;
}

.col-2-3 {
    width:        64%;
    margin-right: 2%;
    float:        left;
}

.col-3-4 {
    width:        72%;
    margin-right: 2%;
    float:        left;
}

.col-2 {
    width:        49%;
    margin-right: 2%;
    float:        left;
}

.col-3 {
    width:        32%;
    margin-right: 2%;
    float:        left;
}

.col-3.rm {
    width:        33%;
    margin-right: 0;
}

.col-3 form {
    margin:         0;
    padding-bottom: 0;
}

.col-3 form dt {
    height:      10px;
    margin-left: 10px;
    text-align:  left;
    width:       80px;
}

.col-3 form dd {
    height:      auto;
    margin-left: 108px;
    width:       180px;
    top:         -10px;
}

.col-3 form dd.auto-height, form dd.auto-height {
    height: auto;
}

.col-3 form dd [type="checkbox"] {
    margin-right: 5px;
    margin-top:   0;
}

.col-3 form dd [type="checkbox"] + span {
    font-size:  11px;
    margin-top: 5px;
    display:    inline-block;
}

.col-3 form dd.long {
    margin-left: 200px;
}

.col-3 form select.large {
    width: 180px;
}

.col-3 form input.large {
    width: 167px;
}

.col-3 form dt.check, form dt.check {
    margin-top: -10px;
}

.col-3 form dd.check, form dd.check {
    top: -19px;
}

.col-3 input[type="text"], .col-3 input[type="password"], .col-3 textarea, .col-3 select {
    padding: 4px 5px;
}

.col-4 {
    width:        23.5%;
    margin-right: 2%;
    float:        left;
}

.col-4.rm {
    width:        26%;
    margin-right: 0;
}

.clear-rm {
    margin-right: 0;
}

.clear-tm {
    margin-top: 0;
}

div.clearfix:before, div.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

div.clearfix:after {
    clear: both;
}

div.clearfix {
    zoom: 1;
}

.modal-content {
    display: none;
}

/*  Main Content :: Box Header  */
.content-box {
    border-radius: 5px 5px 5px 5px;
    background:    none repeat scroll 0 0 #FFFFFF;
    border:        1px solid #C4C4C4;
}

.content-box .header {
    border-bottom:           1px solid #C4C4C4;
    border-top:              1px solid #FFFFFF;
    height:                  34px;
    padding:                 0 10px;
    z-index:                 5;
    overflow:                hidden;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

.content-box .header .content-box-minimizer {
    display:     none;
    text-indent: -9999em;
    width:       22px;
    height:      23px;
    position:    absolute;
    top:         16px;
    left:        35px;
    float:       left;
}

.content-box .header .content-box-minimizer.toggled {
    background-position: 0 0;
    top:                 14px;
}

.content-box .header nav {
    float:        right;
    margin-right: 3px;
}

.content-box .header nav a {
    text-decoration: none;
}

.content-box .header nav .content-box-header-search {
    margin-top: 0;
}

.content-box .header nav .content-box-header-search-btn {
    padding:  9px 10px;
    position: relative;
    overflow: hidden;
}

.content-box .header nav .content-box-header-search-input {
    position:              relative;
    top:                   -1px;
    left:                  5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius:    5px 0 0 5px;
    border-radius:         5px 0 0 5px;
}

/*  Main Content :: Content  */
.content-box .article-inner {
    background:    none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 5px 5px;
    box-shadow:    0 0 10px #DCDCDC inset;
    margin-bottom: 0;
    overflow:      hidden;
    padding:       20px;
    position:      relative;
}

.content-box.col-4 .article-inner {
    padding: 15px 13px;
}

.content-box .article-inner h5 {
    margin-bottom: .7em;
}

.content-box .article-inner img {
    padding:          2px;
    background-color: #fff;
    border:           1px solid;
}

div.tab > img, div.tab > .image-frame img {
    margin-top: 0;
}

.content-box footer {
    padding: 5px 10px;
}

/*  Main Content :: Toggled Box  */
.toggled.content-box {
    background-image:      none;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
}

.toggled.content-box .header, .toggled.content-box .header h2 {
    background: none;
}

.toggled.content-box .header {
    border:                1px dashed;
    margin:                0;
    padding-left:          8px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
}

.toggled.content-box .header h2 {
    padding-top: 11px;
    text-shadow: none;
}

/*  Shortcuts  */
.shortcuts {
    margin:   10px 0 0;
    padding:  3px;
    overflow: hidden;
}

.shortcuts li {
    background-image:      none;
    background-repeat:     no-repeat;
    min-height:            90px;
    min-width:             90px;
    border:                1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    display:               block;
    float:                 left;
    margin:                10px 10px 0 0;
    padding:               0;
    list-style:            none;
    position:              relative;
}

.no-boxshadow .shortcuts li {
    border: 1px solid;
}

.shortcuts li:last-child {
    margin-right: 0;
}

.shortcuts li a {
    font-weight:         bold;
    text-align:          center;
    vertical-align:      baseline;
    text-decoration:     none;
    padding:             65px 5px 5px;
    display:             block;
    background-repeat:   no-repeat;
    background-position: center 16px;
}

/*  Loading Icons  */
.loading {
    display:           block;
    float:             left;
    width:             24px;
    height:            24px;
    background-repeat: no-repeat;
    background-color:  transparent;
    margin:            3px 0 0 5px;
}


input[type="checkbox"], input[type="radio"] {
    background: none repeat scroll 0 0 transparent;
    border:     medium none;
}

.button span.modify, .button span.delete {
    display:    block;
    width:      24px;
    height:     24px;
    margin:     -4px -7px -5px;
}

.button span.delete {

}


/* form layout
----------------------------------------------------------------------------------------------------------------------*/
form {
    margin:         20px 0;
    padding-bottom: 5px;
}

button, input, select, textarea, form.table-form { margin: 0; }

textarea {
    overflow: auto;
}

fieldset {
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    padding:               25px 25px 0;
    margin-bottom:         15px;
    border-style:          solid;
    border-width:          1px;
}

fieldset.no-borders { border: 0; }
legend {
    font-size: 116%;
    padding:   0 1em;
}

input, textarea, select, .customfile, div.wysiwyg iframe {
    background-position:   top;
    background-repeat:     repeat-x;
    border:                1px solid;
    -webkit-border-radius: 1px;
    -moz-border-radius:    1px;
    border-radius:         1px;
}

input[type=text], input[type=password], textarea, select { padding: 5px; }
input[type="checkbox"], input[type="radio"] {
    background: none;
    border:     none;
    cursor:     pointer;
}

label {
    font-weight: bold;
    cursor:      pointer;
}

select {
    width:  auto;
    cursor: pointer;
}

.center-button {
    clear:    both;
    margin:   10px auto 0;
    position: relative;
    display:  table;
}

form label span {
    color: #e30613;
}

form fieldset dt {
    width: 125px
}

form dd {
    display:     inline-block;
    margin-left: 150px;
    position:    relative;
    top:         -22px;
    width:       84%;
    height:      34px;
    text-align:  left;
}

form dt.checkbox, form dt.radio {
    text-align: left;
}

form dd label {
    margin-top:   11px;
    margin-right: 10px;
    display:      inline-block;
}

form dd.text {
    max-width: 500px;
    top:       -21px;
}

form dd span, form dd a {
    display: inline-block;
    margin:  12px 0 0;
}

form dd a {
    margin: 10px 0 0;
}

form dd p {
    font-size: 77%;
    position:  relative;
    top:       -4px;
}

form dd.text p {
    font-size: 100%;
    top:       -1px;
}

form dd.long, form.horizontal-form dd.long {
    margin-left: 280px;
}

form dd.long.child-inputs {
    margin-top: 8px;
}

form dd p, form.horizontal-form dd p {
    font-size: 77%;
    position:  relative;
    top:       -4px;
}

form dd [type="checkbox"] {
    margin-top: 3px;
}

form dt {
    text-align: right;
    width:      120px;
}

form dt.long {
    width: 252px;
}

form fieldset dt, form.horizontal-form fieldset dt {
    width: 80px
}

input.small, textarea.small {
    width: 66%;
}

input.medium, textarea.medium {
    width: 50%;
}

input.large, textarea.large {
    width: 90%;
}

input.full, textarea.full {
    width: 96%;
}

textarea.footer {
    width: 94%;
    resize: vertical;
}

input:disabled, input.disabled {
    background-repeat: repeat;
    box-shadow:        none;
    cursor:            not-allowed;
}


span.number {
    color:       #999999;
    margin-left: 2px;
}

form .row {
    position:   relative;
    display:    block;
    margin:     5px 0;
    text-align: center;
}

.row > label {
    display:        inline-block;
    width:          100px;
    text-align:     left;
    vertical-align: middle;
}

.row.one-half {
    display: inline-block;
    width:   460px;
}

.row.one-half input[type=text] {
    width: 310px;
}

.row.one-half select {
    width: 320px;
}

.row .input-wrapper {
    display:    inline-block;
    text-align: left;
    width:      322px;
}

.row .input-wrapper input {
    width: auto;
}

.row .input-wrapper label {
    margin-right: 5px;
}

.panel {
    display:               block;
    font:                  12px/1.6em Arial;
    margin:                0 15px 30px 15px;
    padding:               5px 10px 4px 36px;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}

.panel p {
    margin:      0;
    line-height: 20px;
    font-weight: bold;
}

.error_panel {
    background: #FCCAC1;
    border:     1px solid #E18B7C;
    color:      #C33820;
}

.warning_panel {
    background:  #FCE1C1;
    border:     1px solid #E1B37C;
    color:      #C37820;
}

.success_panel {
    background: #DEFCC1;
    border:     1px solid #AEE17C;
    color:      #62AF17;
}



