.ui-loader {
    display: none;
}
body{
    min-width:30000px;
    min-height:30000px;
    cursor:all-scroll;
}
svg{
    z-index:0;
}
[data-role=page]{
    font-family:helvetica;
    font-size:1em;
}

body .main-panel{
    z-index:12;
    background-color: white;
    opacity: 0.91;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor:default;
}

body input[type=button]{
    color: #1919AC
}

body input[type=button]:hover{
    color:#47A3FF;
}

#top-panel {
    margin-right: 5px;
    position:fixed;
    right:0.1em;
    top:0.5em;
}
#top-panel div.menu-item {
    float:left;
    margin-left:15px;
}
#top-panel .link-like-button{
    font-size:0.9em;
}
#redraw-graph-btn{
    border : 1px solid black;
    padding: 3px;
    background-color:white;
    font-weight:normal;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
#redraw-graph-btn:hover{
    color:white !important;
    background: #6B6B6B;
    background: -webkit-gradient(linear, left top, left bottom, from(#D1D1D1), to(#6B6B6B));
    background: -webkit-linear-gradient(top, #D1D1D1, #6B6B6B);
    background: -moz-linear-gradient(top, #D1D1D1, #6B6B6B);
    background: -ms-linear-gradient(top, #D1D1D1, #6B6B6B);
    background: -o-linear-gradient(top, #D1D1D1, #6B6B6B);
}

.redraw-button-panel{
    text-align:right;
    margin-bottom:5px;
}

#left-panel {
    margin-left: 5px;
    position:fixed;
    left:0.1em;
    top:0.5em;
    width:175px;
}

#left-panel h2{
    font-size:0.8em;
    text-decoration:underline
}

#sub-vertices-depth-slider{
    z-index: 3;
    width:120px;
}

#sub-vertices-depth-index{
    border: 0;
    font-size:1.2em;
}

.graph {
    background-color: white;
}

.when-default-graph-element-text{
    font-style:italic;
}

.vertex{
    white-space: nowrap;
    min-width:120px;
    position: absolute;
    z-index: 3;
    cursor:default;
}


.highlighted-vertex{
    border: 1px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    background-color: white;
    opacity: 0.96;
    z-index: 10;
}

.vertex .textfield-container {
    display: inline;
}

.vertex input[type="text"] {
    border: 0px;
    padding: 0px;
    spacing: 0px;
    outline: none;
    font-family: courier new, monospace;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
    background-color: transparent;
    margin-top: 15px;
}

input[type="button"] {
    border-size: 0px;
    border-style: none;
    font: inherit;
    padding: 0 0 0 0;
    font-weight: bold;
    font-size:15px;
    background: none;
}

.vertex .center {
    background: url('images/icons/vertex/target.png') no-repeat top;
}

.vertex .move {
    background-image : url('images/icons/vertex/move.png');
    min-width:25px;
    min-height:25px;
    margin-top:11px;
    margin-right:5px;
    margin-left:8px;
    float:left;
}

.vertex .plus {
    color: green !important;
    text-align: center;
    background: none;
}

.vertex .remove {
    color: red !important;
    text-align: center;
    background: none;
}

.vertex .what-is-this{
    color: black !important;
    text-align: center;
    background: none;
}

.vertex .suggestion input[type="button"]{
    color: green !important;
    text-align: center;
    background: none;
}

.vertex .menu {
    margin-top:10px;
    margin-left:30px;
    width:75px;
}

.vertex .menu ul:first-of-type {
    padding-left:5px;
}

.vertex .menu ul {
    list-style: none;
    font-family: courier new, monospace;
    font-size: 18px;
    padding: 0 5px 0 0;
    margin: 0 0 0 0;
    display: inline;
    float:left;
    min-width:12px;
}

.vertex .menu input{
    display:block;
    float:left;
    background-color: transparent;
    background-position:center;
    padding-left:2px;
    padding-right:2px;
    margin:0;
    display:table;
    border: 1px solid #e30613;
    font-weight:bold;
    font-size:19px;
    min-width:25px;
    min-height:14px;
    margin-top:0px;
}

.vertex .menu input:hover{
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

.vertex .image_container{
    position:absolute;
}

.center-vertex {
    -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.1);
  -moz-box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.1);
  box-shadow: 0 0 1em hsla(30, 100%, 50%, 0.5);

}

.edge {
    position: absolute;
    z-index: 2;
    cursor:default;
}

.edge .remove {
    background-color:transparent;
    border-size: 0px;
    border-style: none;
    padding: 0px;
    font-weight: bold;
    color: red !important;
    text-align: center;
}

.highlighted-edge{
    border: 1px;
    border-color: green;
    border-style: solid;
    background-color: white;
    opacity: 0.96;
    background-color:rgba(255,255,255,1);
    z-index: 10;
}

.edge input[type="text"] {
    border: 0px;
    padding: 0px;
    spacing: 0px;
    margin: 0px 0px 0px;
    outline: none;
    width: auto;
    text-align: left;
    background-color: transparent;
    font-size: 14px;
    font-family: courier new, monospace;
}

.peripheral-menu{
    position:absolute;
    z-index: 3;
    background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #eeeeee);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
    opacity: 0.96;
    margin-right:auto;
    border:1px solid black;
    padding:5px;
    text-align:center;
}

.peripheral-menu h2{
    font-size: 1em;
    white-space: nowrap;
}

.peripheral-menu h3{
    margin-top:5px;
    font-weight:normal;
    font-size:0.8em;
}

.peripheral-menu ul{
    margin-left: 0px;
    margin-bottom:5px;
    padding:0;
    list-style-type: none;
}

.peripheral-menu li{
    margin-left: 0px;
    padding:0;
    font-size:12px;
}

.peripheral-menu.identification .type-label{
    padding-top : 10px;
    padding-bottom: 10px;
    margin:auto;
}

.peripheral-menu.identification input.remove-identification{
    padding-bottom: 10px;
    margin:auto;
    float:right;
    color:red;
}

/*.list .identification h3 {*/
    /*margin: 0;*/
    /*background-color: rgb(228,10,85);*/
    /*background-image: linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
    /*background-image: -o-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
    /*background-image: -moz-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
    /*background-image: -webkit-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
    /*background-image: -ms-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
/*}*/

/*.list .identification h3 a {*/
    /*background: url("images/icons/collapsible_sprite.png") 15px 2px no-repeat;*/
    /*display: block;*/
    /*padding-left: 32px;*/
    /*margin: 0;*/
    /*color: #fff;*/
    /*font-size:13px;*/
    /*text-decoration: none;*/
    /*font-weight: normal;*/
    /*border-bottom: 1px solid rgba(128, 10, 85, 0.5);*/
    /*text-shadow: 1px 1px 1px rgb(128,10,85);*/
/*}*/
/*.list .identification h3:hover { background: rgb(228,10,85); }*/
/*.list .identification h3.open  { background: rgb(255,70,120); }*/
/*.list .identification h3.open a { background-position: 13px -25px; }*/
/*.list .identification h3 + div { padding: 10px; }*/

.ui-accordion{
    font-size: 0.9em;
}

.suggestion ul{
    list-style-type: none;
    white-space: nowrap;
}

.suggestion li{
    font-size: 12px;
    font-weight:normal;
    margin-left: 0;
    padding:0;
    background: -moz-linear-gradient(left, #CDFFCD,  #ffffff);
    background: -webkit-gradient(linear, left right, left right, from(#CDFFCD), to(#ffffff));
    width:100%;
    text-align:center;
    padding-bottom: 3px;
    padding-top: 3px;
    border : 1px solid green;
}

.hidden-properties-container{
    position: absolute;
    z-index:10;
}

.link-like-button{
    border-size: 0px;
    border-style: none;
    font-size:0.7em;
    padding: 0 0 0 0;
    background-color:transparent;
    font-weight:normal;
}

.top-menu-link-like-button{
    margin-top:4px;
}