.ui-content {
    border-width: 0;
    margin: 75px auto 25px;
    overflow: visible;
    padding: 15px;
    width: 500px;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#FFFFFF),to(rgba(247, 247, 255, 1)));
    background-image:linear-gradient(#FFFFFF,rgba(247, 247, 255, 1));
    background-image:-moz-linear-gradient(#FFFFFF,rgba(247, 247, 255, 1));
    background-image:-webkit-linear-gradient(#FFFFFF,rgba(247, 247, 255, 1));
    border-radius: 6px 6px 6px 6px;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    }

.ui-loader {
    padding:0;
    display:none;
    }

.ui-loader h1 {
    display:none;
    }

.ui-icon-loading {
    background-image: url("images/ajax-loader.gif");
    background-size: 42px 42px;
    height: 42px;
    width: 42px;
    }

.ui-loader .ui-icon {
    height: 42px;
    width: 42px;
    }

.clear-rm { margin-right:0; }
.clear-tm { margin-top:0; }
.ie7 .clear-rm { margin-right:-1%; }
div.clearfix:before, div.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
div.clearfix:after { clear: both; }
div.clearfix { zoom: 1; }
.ie7 .clearfix { width:100%; height:0; }
.ie7 h1.clearfix, .ie7 h2.clearfix, .ie7 h3.clearfix, .ie7 h4.clearfix, .ie7 h5.clearfix, .ie7 h6.clearfix { height:auto; }
.modal-content { display:none; }

body {
    font-size:13px;
    color:#131313;
    line-height:20px;
	background-color: #F4F4F4;
	font-family: 'Droid Sans', arial, verdana, tahoma, helvetica;
    background-image:
        -moz-radial-gradient(center top , ellipse farthest-side, rgba(40, 130, 16, 0.5), rgba(40, 130, 16, 0) 75%),
        -moz-radial-gradient(center top , ellipse farthest-side, rgba(201, 244, 180, 0.5), rgba(201, 244, 180, 0)),
        -moz-radial-gradient(center top , ellipse farthest-side, rgba(201, 244, 180, 0.3), rgba(201, 244, 180, 0));

    background-image:
        -webkit-radial-gradient(center top , ellipse farthest-side, rgba(40, 130, 16, 0.5), rgba(40, 130, 16, 0) 75%),
        -webkit-radial-gradient(center top , ellipse farthest-side, rgba(201, 244, 180, 0.5), rgba(201, 244, 180, 0)),
        -webkit-radial-gradient(center top , ellipse farthest-side, rgba(201, 244, 180, 0.3), rgba(201, 244, 180, 0));

    background-repeat: no-repeat;
    background-position:0 180px;
    background-size: 100% 5px, 100% 50px, 100% 100%;
    }

article {
    text-align:center;
    }

a {
    color:#50ae0c;
    text-shadow:1px 1px 1px #FFFFFF;
    }

.logo-security {
    display: block;
    margin: -55px auto 0;
    text-align: center;
    width: auto;
    }

#login .logo-security {
    -webkit-animation:fadeIn 2s, logoRotate 6s linear;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: backwards;
    }

.notification {
    background-position: 8px 9px;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    display: block;
    margin: 10px 3px;
    padding: 5px 5px 5px 30px;
    }

.notification p {
    margin:0;
    line-height:25px;
    }

.notification.error {
    color:#ae432e;
    border-color:#ae432e;
    background-image:url('images/icons/notifications/icon_notification_error.png');
    background-color:#f2d4ce;
    }

.notification.success {
    color:#69990f;
    border-color:#77ab13;
    background-image:url('images/icons/notifications/icon_notification_success.png');
    background-color:#d9e6c3;
    }

.notification.warning {
    color:#be8007;
    border-color:#e6c26e;
    background-image:url('images/icons/notifications/icon_notification_warning.png');
    background-color:#faf6d4;
    }

.notification.information {
    color:#0576a6;
    border-color:#058dc7;
    background-image:url('images/icons/notifications/icon_notification_information.png');
    background-color:#cee6f2;
    }

.notification.warning a {
    color:#be8007;
    font-weight:normal;
    }

.mailing {
    margin:10px 0;
    position:relative;
    }

.mailing a {
    display:inline-block;
    height:64px;
    width:64px;
    margin:0 15px;
    }

a.gmail {
    background:url('images/security/gmail.png') no-repeat;
    }
a.hotmail {
    background:url('images/security/hotmail.png') no-repeat;
    }
a.yahoo {
    background:url('images/security/yahoo.png') no-repeat;
    }

/* Forms
----------------------------------------------------------------------------------------------------*/
form {
    margin-top: 25px;
    padding-bottom: 10px;
    text-align:center;
    }

form.table-form {
    margin-top: 0;
    }

button, input, select, textarea {
    margin: 0;
    }

.button, input[type=button] {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#84C63C),to(#489615));
    background-image:linear-gradient(#84C63C,#489615);
    background-image:-moz-linear-gradient(#84C63C,#489615);
    background-image:-webkit-linear-gradient(#84C63C,#489615);
    color: #FFFFFF;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    padding: 5px 16px 8px;
    margin:-5px 0 5px 0;
    }

textarea {
    overflow: auto;
    }

fieldset {
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 25px 25px 0;
    margin-bottom: 25px;
    border: 1px solid;
    }

legend {
    font-size: 116%;
    padding: 0 1em;
    }

.ie6 legend, .ie7 legend {
    margin-left: -7px;
    }

.ie8 legend, .ie7 legend {
    margin-bottom: 30px;
    }

.ie8 legend {
    top: -25px;
    }

.ie7 legend {
    top: -35px;
    }

form dl {
    margin-bottom:0;
    }

form dt {
    width: 150px;
    text-align: right;
    }

form dd {
    position: relative;
    top: -24px;
    }

dd p {
    font-size: 77%;
    position: relative;
    top: 2px;
    }

input, textarea, select {
    border: 1px solid;
    -moz-border-radius: 1px;
    border-radius: 1px;
    }

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
    background-color: #f0f7ee;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    color:#333333;
    outline:none;
    }

input[type="radio"] {
    vertical-align: text-bottom;
    }

input[type="checkbox"] {
    vertical-align: bottom;
    }

input[type="checkbox"], input[type="radio"] {
    background: none;
    border: none;
    }

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
    }

.ie6 input {
    vertical-align: text-bottom;
    }

label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
    }

label {
    font-weight: bold;
    }

select {
    width: auto;
    }

.checkbox, .radio {
    width: 200px;
    position: relative;
    left: 185px;
    text-align: left;
    }

.checkbox label, .radio label {
    font-weight: normal;
    }

.checkbox {
    top: -5px;
    }

.radio {
    top: -3px;
    }

button {
    width: auto;
    overflow: visible;
    }

form span.valid-side-note, span.invalid-side-note {
    margin-left: 10px;
    padding: 0 0 0 25px;
    background-repeat: no-repeat;
    background-position: left center;
    }

form span.valid-side-note {
    background-image: url(images/icons/icon_success.png);
    }

form span.invalid-side-note {
    background-image: url(images/icons/icon_error.png);
    }

.ie7 input[type=checkbox], .ie8 input[type=checkbox], .ie9 input[type=checkbox],
.ie7 input[type=radio], .ie8 input[type=radio], .ie9 input[type=radio] {
    border: none;
    box-shadow: none;
    }

.ie9 .checkbox {
    top: -7px;
    }

.ie7 .radio, .ie8 .radio, .ie9 .radio {
    top: -5px;
    }

.ie7 td select {
    position: relative;
    top: -3px;
    left: -15px;
    }

input:disabled, input.disabled {
    box-shadow: none;
    cursor: not-allowed;
    }

.center-button {
    margin: 0 auto 5px;
    position: relative;
    display: table;
    }

.bottom-links {
    margin:5px 0 10px;
    }

.bottom-links a {
    margin:0 3px;
    }

/*  Forms  */
form {
	margin: 30px auto 0;
    padding-bottom: 5px;
    width: 500px;
    }

section form:last-child, section div form:last-child { margin-bottom:0; }
form.table-form { margin-top:0; }
button, input, select, textarea { margin:0; }
textarea { overflow:auto; }
fieldset {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:25px 25px 0;
	margin-bottom:15px;
	border-style:solid;
	border-width:1px;
    }

.ie8 fieldset, .ie7 fieldset { padding-top:0; }
fieldset.no-borders { border:0; }
legend {
	font-size:116%;
	padding:0 1em;
    }

input, textarea, select, .customfile, div.wysiwyg iframe {
	background-position:top;
	background-repeat:repeat-x;
	border:1px solid;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
    }

input[type=text], input[type=password], textarea, select { padding:8px; }
input[type="checkbox"], input[type="radio"] {
	background:none;
	border:none;
    }

label {
	font-weight:bold;
	cursor:pointer;
    }

label.long {
    display: inline-block;
    margin-top: -10px;
    }

select {
	width:auto;
	cursor:pointer;
    }

.checkbox, .radio {
	width:200px;
	position:relative;
	left:185px;
	text-align:left;
    }

.checkbox label, .radio label { font-weight:normal; }

/*  Form :: Layout  */
form dt, form.horizontal-form dt {
	height: 20px;
    text-align: right;
    width: 120px;
    }

form fieldset dt, form.horizontal-form fieldset dt {
    width:80px
    }

form dd, form.horizontal-form dd {
	margin-left: 150px;
    position: relative;
    top: -27px;
    width: auto;
    text-align:left;
    }

form dd p, form.horizontal-form dd p {
	font-size:77%;
	position:relative;
	top:-4px;
    }

form.vertical-form dd:last-child { margin-bottom:25px; }
form.vertical-form dt {
	width:auto;
	text-align:left;
	margin:15px 0 5px;
    }

form.vertical-form dt.clear-tm { margin-top:0; }
form.vertical-form dd { position:static; }
form.vertical-form dd.checkbox, form.vertical-form dd.radio {
	margin-bottom:0;
	position:relative;
	left:0;
    }

form.vertical-form dd.checkbox { top:-23px; }
form.vertical-form dt.checkbox, form.vertical-form dt.radio {
	left:20px;
	margin:0;
    }

form dt.checkbox, form dt.radio { text-align:left; }
form dd.text {
	max-width:500px;
	top:-21px;
    }

form dd.text p {
	font-size:100%;
	top:-1px;
    }

input.small, textarea.small { width:25%; }
input.medium, textarea.medium { width:50%; }
input.large, textarea.large { width:90%; }
input.full, textarea.full { width:96%; }
textarea.footer { width:94%; resize:vertical; }

/* Animations
----------------------------------------------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        }
    100% {
        opacity:1;
        }
    }

@-webkit-keyframes logoRotate {
    0% {
        -webkit-transform:rotate(0deg);
        }
    10% {
        -webkit-transform:rotate(0deg);
        }

    55% {
        -webkit-transform:rotateY(180deg);
        }

    100% {
        -webkit-transform:rotateY(0deg);
        }
    }

