/* JQM Rewrite
----------------------------------------------------------------------------------------------------*/
.ui-loader {
    padding:0;
    }

.ui-loader h1 {
    display:none;
    }

.ui-icon-loading {
    background-image: url("images/ajax-loader.gif");
    background-size: 42px 42px;
    height: 42px;
    width: 42px;
    }

.ui-loader .ui-icon {
    height: 42px;
    width: 42px;
    }

.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
    height:100%;
    /*margin-left: 225px;*/
    right:0;
    width:inherit;
    /*background-color:#FFFFFF;*/
    }

div.ui-input-search input.ui-input-text{
    padding: 9px 0;
    text-indent: 10px;
    width: 99.5%;
    }

.ui-input-clear-hidden {
    display:none;
    }

.ui-corner-all {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    }

input.ui-input-text, textarea.ui-input-text {
    font-size: 15px;
    padding: 6px 5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

label.ui-input-text {
    font-weight:bold;
    }

.ui-listview-filter {
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
    }

.ui-listview-filter .ui-input-search {
    display: block;
    margin: 0;
    width: auto;
    }

.ui-content .ui-listview {
    margin:0;
    }

.ui-content {
    padding: 0;
    overflow:hidden;
    /*margin-left:225px;*/
    /*background-color:#FFFFFF;*/
    }

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    list-style:none;
	display:block;
	padding:5px;
	overflow:hidden;
	margin-bottom:10px;
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	min-height:32px;
	background-image:none;
	line-height:100%;
    }

.ui-mobile fieldset {
    -moz-border-radius:3px;
	border-radius:3px;
	padding:25px 25px 0;
	margin-bottom:25px;
	border:1px solid;
    border-color:#DDDDDD;
    }

.ui-li-heading {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    }

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#ae432e), color-stop(0.05, #d06c57));
    background: -o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    border:none;
    min-height:inherit;
    padding:5px 15px;
    border:none;
    border-style:solid;
    border-width:1px;
    border-color: #cb6652 #b74d39 #803121;
    margin-bottom:0;
    }

/* Texts
----------------------------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, sup, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family:'PTSansRegular', Arial, sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    }