/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.root-vertex-super-container{
    position:absolute;
}

.vertices-children-container{
    display:table-cell;
    vertical-align: middle;
}
.vertices-children-container.left-oriented .vertex-tree-container{
    float:right;
}
.vertex-tree-container{
    display:table;
    margin-left:0;
    height:1em;
}

.clear-fix{
    clear: both;
    display:block;
    height:0;
    width:0;
    padding:0;
    margin:0;
}

.vertex-container{
    display:table-cell;
    vertical-align:middle;
    padding-top:5px;
    padding-bottom:5px;
}

.vertex.view-only{
    margin-top:2em;
    margin-bottom:2em;
}

.relation{
    padding:0;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    vertical-align: middle;
}
.relation.selected .label {
    box-shadow: 0 0 8px #3005bb, inset 0 0 6px #3005bb;
}

.left-oriented .property .relation-menu{
    left:0;
}

.left-oriented .relation-menu{
    left:auto;
    right:0;
}
.left-oriented .vertex .in-bubble-content .in-bubble-note-button{
    margin-right:0;
}

.left-oriented .relation .in-bubble-note-button{
    margin-right:0;
    margin-left:5px;
}

.left-oriented .group-relation .label{
    margin-right:0;
    margin-left:0.3em;
}

.left-oriented .bubble .arrow{
    left: auto;
    right:-50px;
}

.left-oriented .bubble.group-relation .arrow, .left-oriented .bubble.property .arrow{
    right:-42px;
}

.left-oriented .bubble.group-relation .arrow:before, .left-oriented .bubble.property .arrow:before{
    left:42px;
}

.left-oriented .bubble .connector{
    left: auto;
    right:-22px;
}

.left-oriented .bubble .arrow:before{
     left:34px;
}

.left-oriented .bubble.view-only .arrow:before{
    left:8px;
}

.left-oriented .bubble.inverse .arrow:before{
    content:url('../images/icons/vertex/arrowhead_right.svg');
}

.left-oriented .vertex .in-bubble-content .in-bubble-note-button{
    margin:0 5px 0 4px;
}

/*BORDER*/

.vertices-children-container .vertex-tree-container:first-child > .vertical-border-first{
    border-left:none;
    border-right:none;
}

.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-second{
    border-left:none;
    border-right:none;
}

.vertices-children-container .vertex-tree-container:last-of-type > .vertical-border-third{
    border-left:none;
    border-right:none;
}

.vertices-children-container .vertex-tree-container:last-of-type > .vertex-container > .vertex:before{
    border-left:none;
    border-right:none;
}

.vertical-border{
    display:table;
    height:50%;
    border-left:1px solid black;
    padding-right:40px;
}

.vertical-border.small{
    padding-right:20px;
}

.vertices-children-container .vertex-tree-container .vertical-border-third{
    height:0;
}

.left-oriented .vertex-tree-container .vertical-border{
    border-left:none;
    border-right:1px solid black;
}

.vertical-border-filling{
    display:table;
    height:0;
    padding:0;
    width:1px;
}

.relation input{
    border-radius: 3px 3px 3px 3px;
    border-width:0.2em;
    border-color:#3A87AD;
    padding: 0;
    outline: none;
    font-family: courier new, monospace;
    font-size: 14px;
    vertical-align: middle;
    background-color: transparent;
    overflow: hidden;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    right:0;
    z-index:5;
}

.relation.inverse .in-bubble-content .bubble-label{
    background: mediumpurple;
}

.relation.inverse input[type=text]{
    border-color:red;
}