.root-vertex-super-container{
    position:absolute;
}

.vertices-children-container{
    display:table-cell;
    vertical-align: middle;
}
.vertex-tree-container.left-oriented{
    margin-left:-25em;
}

.vertex-tree-container{
    display:table;
    margin-left:10em;
}

.vertex-container{
    display:table-cell;
    vertical-align:middle;
}