/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#top-center-menu {
  position: fixed;
  left: 38%;
  top: 0.5em;
  width: 30em;
  .ui-button {
    z-index: 3;
  }
}

#top-panel {
  margin-right: 160px;
  position: fixed;
  right: 0.1em;
  top: 0.5em;
  > input[type=button], > button, > .link-like-button {
    float: left;
    margin-left: 15px;
    font-size: 1em;
    margin-top: 4px;
  }
  .dropdown {
    a {
      text-align: left;
    }
  }
}

.frontier {
  position: fixed;
  background-color: transparent;
  z-index: 0;
}

.left-frontier {
  height: 100%;
  min-width: 2em;
}

.right-frontier {
  height: 100%;
  min-width: 2em;
  right: 0;
}

.top-frontier {
  width: 100%;
  min-height: 2em;
}

.bottom-frontier {
  width: 100%;
  min-height: 2em;
  bottom: 0;
}