/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#top-center-menu {
  position: fixed;
  left: 38%;
  top: 0.5em;
  width: 30em;
  .ui-button {
    z-index: 3;
  }
}

#bottom-center-panel {
  position: fixed;
  left: 45%;
  top: 95%;
}

#left-panel {
  margin-left: 5px;
  position: fixed;
  left: 0.1em;
  top: 0.5em;
  overflow: hidden;
  width: 225px;

  h2, h4 {
    font-size: 1em;
    white-space: nowrap;
    text-decoration: underline;
  }

}

#toggle-left-panel-collapse {
  float: right;
  position: fixed;
  left: 235px;
  top: 10px;
  z-index: 2;
  font-size: 1em;
}

#top-panel {
  margin-right: 160px;
  position: fixed;
  right: 0.1em;
  top: 0.5em;
  > input[type=button], > button, > .link-like-button {
    float: left;
    margin-left: 15px;
    font-size: 1em;
    margin-top: 4px;
  }
  .dropdown {
    a {
      text-align: left;
    }
  }
}

.frontier {
  position: fixed;
  background-color: transparent;
  z-index: 0;
}

.left-frontier {
  height: 100%;
  min-width: 2em;
}

.right-frontier {
  height: 100%;
  min-width: 2em;
  right: 0;
}

.top-frontier {
  width: 100%;
  min-height: 2em;
}

.bottom-frontier {
  width: 100%;
  min-height: 2em;
  bottom: 0;
}

.legend {
  display: inline;
  padding: 0.3em;
}

.private.legend {
  background-color: #E6E6FF;
}

.public.legend {
  background-color: #F9E5E5;
}