/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#connected-home-flow {
  .background {
    position: absolute;
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
    ),
    url("images/neurons-440660-white3.jpg");
    left: 0;
    width: 100%;
    min-height: 200px;
  }
}

$tagCloudFontSize: 0.6em;
#connected-home-flow-content {
  margin-top: 3%;
  padding: 1em;
}

#word-cloud {
  text-align: left;
  button.remove, button.create {
    margin-top: 10px;
  }

  button.create {
    margin-right: 10px;
  }

  table {
    font-size: 30px;
    table-layout: fixed;
    word-wrap: break-word;
  }

  table, table * {
    cursor: pointer;
  }

  .last-visit {
    width: 10%;
    white-space: normal;
  }

  .bubble-label, .context {
    text-overflow: ellipsis;
  }
  .bubble-label {
    width: 30%;
    white-space: normal;
    border-left: 1px solid $red;
  }

  .context {
    width: 60%;
    a.empty {
      &:before {
        content: "...";
        color: black;
      }
    }
  }

  .select-checkbox {
    text-align: center;
  }

  th {
    font-size: $tagCloudFontSize;
    color: #656464;
    //font-weight:normal;
  }

  td {
    vertical-align: middle;
    a.empty {
      color: transparent !important;
    }
    &.bubble-label {
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        .reference.badge {
          font-size: 0.8em;
          margin-left: 5px;
        }
      }
    }
    &.context {
      .grid {
        .grid-item {
          float: left;
          max-width: 50%; // 200% / 4 items (2 lines / 4 items) but reserve some extra space for padding etc
          overflow: hidden;
          padding-left: 5px;
          text-overflow: ellipsis;
          &:after {
            content: " â— "
          }
          &:last-of-type {
            &:after {
              content: " ..."
            }
          }
        }
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.number-visits {
      a {
        text-align: center;
      }
      .label {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    text-align: left;

    color: black;
    a {
      display: block;
      color: black;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $tagCloudFontSize;
  }
  .typeFilters {
    margin-top: 20px;
    ul {
      display: inline-block;
    }
  }
}

@media (max-width: 992px) {
  #connected-home-flow-content {
    margin-top: 7%;
  }
}

//.fixed-table-container table.red-border tbody {
//  td, th{
//    border-left:none;
//  }
//}
table.red-border {
  border: 1px solid $red !important;
}

//table.red-border > tbody > tr > td:first-child, .red-border > tbody > tr > th, .red-border > tfoot > tr > td, .red-border > tfoot > tr > th, .red-border > thead > tr > td, .red-border > thead > tr > th {
//    border-left: 1px solid $red-dark !important;
//}

//table.red-border > thead > tr > th{
//  &:first-child{
//    border-left:1px solid blue !important;
//  }
//
//}
//table.red-border > tbody > tr > td{
//  &:first-child{
//    border:1px solid blue !important;
//  }
//}

//.bootstrap-table .table.red-border{
//  >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th{
//    border-top-color: $red-light;
//    border-left-color: $red-light;
//    border-bottom-color: $red-light;
//    border-right-color: $red-light;
//    border-top-width: 1px;
//  }
//  border-top-color:$red-dark !important;
//  border-color: $red-dark;
//}

//.fixed-table-container tbody td {
//  border-left-color:$red-light
//}
