/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#word-cloud-container {
  .background {
    position: absolute;
    background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
    ),
    url("images/neurons-440660-white3.jpg");
    left: 0;
    width: 100%;
    min-height: 200px;
  }
  .content {
    margin-top: 3%;
  }
  h2.user-name-on-background {
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }
}

$tagCloudFontSize: 0.6em;
#word-cloud {
  margin-top: 7%;
  text-align: left;
  padding: 1em;

  button.remove, button.create{
    margin-top: 10px;
    margin-left: 10px;
  }

  table {
    font-size: 30px;
    table-layout: fixed;
    word-wrap: break-word;
  }

  table, table * {
    cursor: pointer;
  }

  .last-visit {
    width: 10%;
    text-overflow: ellipsis;
  }
  .number-visits {
    width: 6%;
  }

  .bubble-label, .context {
    text-overflow: ellipsis;
  }
  .bubble-label {
    width: 28%;
  }

  .context {
    width: 56%;
    a.empty{
      &:before{
        content:"...";
        color:black;
      }
    }
  }

  th {
    font-size: $tagCloudFontSize;
    color: #656464;
    //font-weight:normal;
  }

  td {
    a.empty{
      color: transparent !important;
    }
    &.bubble-label {
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        .reference.badge{
          font-size:0.8em;
          margin-left:5px;
        }
      }
    }
    &.context {
      .grid {
        .grid-item {
          float: left;
          max-width: 35%; // 200% / 5 items (2 lines / 5 items) but reserve some extra space for padding etc
          overflow: hidden;
          padding-left: 5px;
          text-overflow: ellipsis;
          &:after {
            content: " ● "
          }
          &:last-of-type {
            &:after {
              content: " ..."
            }
          }
        }
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.number-visits {
      a{
        text-align: center;
      }
      .label {
        display: inline-block;
        padding-left:10px;
        padding-right:10px;
      }
    }

    text-align: left;

    color: black;
    a {
      display: block;
      color: black;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $tagCloudFontSize;
  }
  .typeFilters{
    margin-top:20px;
    ul{
      display:inline-block;
    }
  }
}