/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.ui-dialog-titlebar {
  text-align: center;
}

.vertex-note {
  &.ui-dialog {
    .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      text-align: center;
    }
    .ui-dialog-content {
      padding: 0;
    }
  }
  textarea {
    width: 100%;
    height: 93%;
    margin-bottom: 0;
  }
}

.graph-element-menu {
  opacity: 0.96;
  margin-right: auto;
  font-size: 1em;
  .html-content {
    margin-right: 1px;
    margin-left: 1px;
  }
  h2, h3 {
    line-height: inherit;
  }
  h2 {
    font-size: 1.3em;
    text-align: center;
  }
  h3 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
  }
  .identifications {
    .add-identification {
      margin-top: 10px;
    }
    .read-more {
      &:before, &:after {
        content: "\00a0 ";
      }
      a {
        font-weight: bold;
      }
    }
    .instruction {
      margin-top: 7px;
      margin-bottom: 11px;
      text-align: left;
    }
    .img-container {
      float: left;
      margin-right: 15px;
    }
    .origin-container {
      a {
        color: inherit;
      }
    }
    .remove-btn {
      background-color: white;
      border: none;
      &:focus {
        outline: none;
      }
      i {
        color: red;
        margin-top: 50%;
      }
    }
    .description{
      margin-top : -7px;
    }
    .references-container{
      clear:both;
      float:left;
      margin-top:0.5em;
      border-bottom:none;
      li.clickable{
        cursor:pointer;
      }
    }
    ul {
      text-align: left;
    }
    /*:-moz-placeholder for firefox 18-
      and ::-moz-placeholder for firefox 19+
    */
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
      color: black;
    }
  }
  .ui-dialog-titlebar-close {
    background: transparent;
    border: none;
    color:black;
    .ui-button-icon-primary.ui-icon.ui-icon-closethick{
      display:none;
    }
    .ui-button-text{
      display:none;
    }
    &:after{
      font-family: FontAwesome;
      content:"\f00d";
    }
  }
}

.image-upload-wrapper {
  .holder {
    border: 10px dashed #ccc;
    width: 150px;
    min-height: 150px;
    margin: 20px auto;
    &.hover {
      border: 10px dashed #0c0;
    }
    img {
      display: block;
      margin: 10px auto;
    }
    p {
      margin: 10px;
      font-size: 14px;
    }
  }
  .progress-label {
    position: relative;
    left: -100px;
    font-size: small;
    &:after {
      content: '%';
    }
  }
  .fail {
    background: #c00;
    padding: 2px;
    color: #fff;
  }
  .hidden {
    display: none !important;
  }
}

.ui-dialog-content a {
  color: #1919AC
}

.ui-dialog-content a:hover {
  color: #47A3FF;
}