/*
 * Copyright Vincent Blouin under the GPL License version 3
 */
.left-oriented {
  [data-action=addChild] .fa-arrow-right {
    transform: rotate(180deg);
  }
  .vertex {
    .in-bubble-content {
      .in-label-buttons{
        margin-right:-32px;
        margin-left:auto;
      }
    }
  }
  .relation {
    &.public {
      .label-container{
        &:after {;
          right: auto;
          left:4px;
        }
      }
    }
    .in-bubble-content{
      .in-bubble-note-button {
        left:auto;
        right:-32px;
      }
    }
    .label-container {
      padding-left: 0;
      padding-right: 6px;
    }
  }
  .property{
    &.public {
      .label-container{
        &:after {
          right: auto;
          left:-16px;
        }
      }
    }
  }
  .group-relation .label {
    margin-right: 0;
    margin-left: 0.3em;
  }
  .bubble {
    .arrow {
      left: auto;
      width:47px;
      margin-left:-3px;
      &:before{
        content: url('images/icons/vertex/arrowhead_left.svg');
      }
    }
    &.inverse{
      .arrow:before {
        content: url('images/icons/vertex/arrowhead_right.svg');
      }
    }
    &.view-only {
      .arrow:before {
        left: 8px;
      }
    }
    &.group-relation, &.property {
      .arrow {
        left:auto;
        right: -46px;
      }
    }
    .connector {
      left: auto;
      right: -25px;
    }
  }
  .vertex-tree-container .vertical-border {
    border-left: none;
    border-right: $edgeStyle;
  }
}

