#graph-element-menu {
  position: fixed;
  right: 10px;
  top: 100px;
  border: 1px solid $linksColor;
  border-radius: 9px;
  max-width: 180px;
  padding: 1em;
  padding-top: 2em;
  cursor: all-scroll;
  margin-right: 0;
  margin-left: 0;
  [data-action=select] {
    position: relative;
    i {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.24em;
      border: 2px dotted black;
      width: 80%;
      height: 80%;
    }
  }
}

button.graph-element-button {
  margin-bottom: 5px;
  margin-right: 3px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border-bottom-color: #b3b3b3;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  &:hover {
    background-image: linear-gradient(to bottom, #fff, #CDCDCD);
  }
}

$buttonSize: 40px;
.graph-element-button{
  width: $buttonSize;
  height: $buttonSize;
  font-size: 1.2em;
  i {
    top: 25%;
  }
}

.menu {
  width: 180px;
}

button {
  &.add-button-in-list {
    color: green;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.2em;
    float: left;
    &:hover {
      color: #00d100;
    }
    border: none;
    background-color: transparent;
  }
}

#selection-box {
  min-width: 45px;
  min-height: 40px;
  z-index: 100;
  background: rgba(0, 203, 255, 0.1);
  border: solid black;
  position: absolute;
}

#editor {
  max-height: 250px;
  height: 250px;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

#bubble-note-modal .btn-default {
  text-shadow: none;
}