$bgDefault: #071f79;
$bgHighlight: #121D46;
$bgHighlight: rgba(18, 29, 70, 0.4);
$colDefault: black;
$colHighlight: white;
$dropDown: false;
$border: 2px solid $red;

.navbar-default {
  border: none;
  border-bottom: $border;
  background-image: none;
  //background-image: linear-gradient(to bottom,#fff, #7297ff);
  //background: linear-gradient(to bottom, #1e5799 0%,#2989d8 100%);
  //background-color:rgba(0, 0, 0, 0.3);
  background-color: white;
  //background-color:#7281b3;
  //background-color: $bgDefault;
  //border-color: $bgHighlight;
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    margin-right: 15px;
    > li {
      > a {
        margin-right: 5px;
        text-transform: uppercase;
        margin-top: 3px;
        cursor: pointer;
        font-size: 1.2em;
        color: $colDefault;
        &:hover, &:focus {
          background-color: $red;
          color: white;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        background-image: none;
        color: $colHighlight;
        border-radius: 10px 10px 0px 0px;
        color: black
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }

  a:hover {
    background-color: rgba(254, 254, 254, 0.8);
    //border: 3px solid rgba(254, 254, 254, 0.7);
    border-radius: 10px 10px 10px 10px;
    color: black;
    text-decoration: none;
  }

  .dropdown-menu {
    border: none !important;
    border-radius: 10px 10px;
    border-radius-top-left: 10px !important;
    background-color: rgba(254, 254, 254, 0.7);
    left: inherit !important;
    margin-top: 3px !important;
    margin-right: 4px !important;
    left: inherit !important;
    a {
      &:hover {
        background-color: $red;
        color: white !important;
      }
    }
    ul.color-picker {
      list-style: none !important;
    }
  }
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
    padding: 20px;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  #header-search-form {
    margin: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      margin: 30px;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-header {
    padding: 20px;
  }

  .navbar-right {
    padding-left: 30px;
  }
  .navbar-form {
    margin-left: 25px;
  }
  #header-search-form {
    border: none;
    margin: 15px;
  }
}

#share-link {
  font-size: 1.2em;
  i {
    text-shadow: none;
  }
}

.navbar-form {
  margin-top: 2px;
}

.navbar-brand {
  &:hover {
    .logo-navbar{
      background: url('/css/images/logo-horizontal-red-small.png');
    }
  }
}

.logo-navbar {
  min-width: 223px;
  min-height: 44px;
  margin-top: -7px;
  width: auto;
  background: url('/css/images/logo-horizontal-black-small.png');
}

.navbar-nav .dropdown-menu a {
  font-size: 1.2em;
  cursor: pointer;
  &.icon {
    &:before {
      font-family: FontAwesome;
      margin-right: 5px;
    }
  }
  &.view {
    &:before {
      content: "\f06e"; /*eye*/
    }
  }
  &.create {
    &:before {
      content: "\f067"; /*plus*/
    }
  }
}

body.mind-map-flow {
  margin-top: 50px;
}

.divide-nav {
  height: 50px;
  //background-color: #428bca;
}

.divide-text {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 0;
}

.affix {
  top: 50px;
  width: 100%;
  z-index: 1000;
}

.filler {
  min-height: 2000px;
}

.navbar-form {
  padding-left: 0;
}

.navbar-collapse {
  padding-left: 0;
}

.navbar-lower {
  background-color: transparent;
  box-shadow: none;
}

$tl: 0.5s; // transition length

.search-box {
  margin-top: 6px;
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px;
  height: 40px;
  //border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  & + label .search-icon {
    color: black
  }
  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {
      color: white
    }
  }
  &:focus {
    transition: width $tl cubic-bezier(0, 1, 0, 1), border-radius $tl, background $tl;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    & + label .search-icon {
      color: black;
    }
  }
  &:not(:focus) {
    text-indent: -5000px;
  }
  // for more-graceful falling back (:not browsers likely support indent)
}

.search-icon {
  position: relative;
  left: -30px;
  cursor: pointer;
}

[data-lang].current {
  display: none;
}
