/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

$withTextPadding: 5px 15px 5px 15px;
$withoutTextPadding: 5px 8px 5px 8px;
.relation.bubble {
  .bubble-label {
    &:empty:not(:focus) {
      max-width:100%;
      transition: all 0.2s;
      line-height:0;
      &:after {
        content: "";
      }
    }
  }

  &.selected {
    .label {
      box-shadow: 4px 4px 4px black;
      .bubble-label {
        &:empty {
          padding: $withTextPadding;
          line-height:inherit;
          //transition: padding 1s ease-in;
        }
      }
    }
  }

  &.inverse {
    .connector {
      width: 51px;
      left: -44px;
      &:before {
        content: url(images/icons/vertex/arrowhead_left.svg);
        position: relative;
        top: -11px;
        left: 20px;
      }
    }
  }
  .hidden-properties-content {
    margin-left: $marginOfHiddenPropertiesToRelation;
  }
  &.compare-add, &.compare-add.inverse, &.compare-add.suggestion {
    .in-bubble-content .label-info {
      color: black;
      .bubble-label {
        color: black;
        &:empty:not(:focus):after {
          color: grey;
        }
      }
    }
  }
  &.compare-remove, &.compare-remove.inverse, &.compare-remove.suggestion {
    .in-bubble-content .label-info {
      .bubble-label {
        color: black;
        &:empty:not(:focus):after {
          color: grey;
        }
      }
    }
  }
  .on-edge-button {
    font-size: 1.50em;
    cursor: pointer;
  }
  .edit-relation-button {
    display: none;
  }
  position: relative;

  &.same-as-group-relation {
    .label{
      padding:0;
    }
    &.selected {
      .label-container {
        .label {
          .bubble-label {
            padding: $withTextPadding;
            visibility: visible;
            text-indent: inherit;
            margin-top:0;
            line-height:inherit;
            -webkit-transition: padding 0.2s;
            transition: padding  0.2s;
          }
        }
      }
    }
    .label-container .label .bubble-label {
      visibility: hidden;
      text-indent: -9999px;
      margin-top:-200px;
      line-height:0;
      padding: $withoutTextPadding;
    }
  }

  .label {
    border-radius: 0.80em;
    padding: 0;
    .bubble-label {
      padding: $withTextPadding;
      &:empty {
        padding: $withoutTextPadding;
      }
    }
  }
  .menu {
    background-color: transparent;
    z-index: 11;
    margin-left: 5px;
  }
  .label-container {
    display: table-cell;
    padding-left: 6px;
    position: relative;
  }

  &.selected:not(.not-editable) {
    .bubble-label {
      &:empty:not(:focus):after {
        color: white;
      }
    }
  }

  &.suggestion {
    &.selected, &.single-selected {
      .bubble-label {
        color: black;
        &:after {
          color: black;
        }
      }
    }
    .in-bubble-content {
      border: none;
      .bubble-label {
        color: black;
      }
      .label-info {
        background-color: #E7EEF2;
        color: black;
        text-shadow: none;
      }
    }
  }
  &.suggestion {
    .bubble-label {
      color: black;
    }
    .in-bubble-content .label-info {
      border: $edgeSize dotted $suggestionColor;
    }
  }
  &.meta-relation {
    .image_container {
      display: none;
    }
    .label-container {
      display: none;
    }
    .remove-relation-button {
      display: block;
      font-size: 1.15em;
    }
    .in-bubble-content {
      border: none;
      .label-info {
        border: $edgeSize solid $metaColor;
      }
    }
    .connector {
      &.meta-relation-clickable {
        &:before {
          //border-top: 3px solid purple;
          border-bottom: 3px solid purple;
          //top: 6px;
          //border-radius: 5px;
          //padding: 5px 13px;
          //position: relative;
          //left: 16px;
        }
      }
    }
  }
  .in-bubble-content {
    $fontSize: 1.05em;
    .label-info {
      background-color: $edgeColor;
      height: auto;
      font-size: $fontSize;
    }
    .bubble-label {
      color: white;
      display: inline-block;
      font-family: helvetica;
      font-size: $fontSize;
      &:not(:focus):after {
        color: white;
      }
      &:empty:not(:focus):after {
        color: white;
      }
    }
    del, ins {
      color: black;
    }
    .in-label-buttons {
      display: inline-block;
      button {
        font-size: 18px;
        margin-top: -13px;
        margin-bottom: -13px;
        i {
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
          color: white;
        }
      }
    }
  }
  .ui-button {
    width: 1.7em;
    height: 1.8em;
    margin: 0;
  }
}

.relation {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  vertical-align: middle;
}

.relation input {
  border-radius: 3px 3px 3px 3px;
  border-width: 0.2em;
  border-color: $edgeColor;
  padding: 0;
  outline: none;
  font-family: courier new, monospace;
  font-size: 14px;
  vertical-align: middle;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.bubble.property {
  margin-top: 1em;
  margin-bottom: 1em;
  input.edge-label {
    background-color: #f5f5f5;
    font-size: 13px;
  }
  .relation-menu {
    left: 0;
  }
  .arrow {
    width: 60px;
    left: -45px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: calc(50% - 5px);
    &:before {
      top: -50%;
      position: absolute;
      left: 26px;
    }
  }
}

.bubble.group-relation {
  white-space: nowrap;
  .arrow {
    height: 20px;
    &:before {
      content: none;
    }
  }
  &.selected {
    .in-bubble-content {
      .label {
        box-shadow: 5px 5px 5px black;
      }
    }
  }
  .in-bubble-content {
    .bubble-label {
      margin-right: 0.3em;
      z-index: 1;
    }
  }
}

.edge-label {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

//.relation.inverse .in-bubble-content .label-info {
//  background: $edgeInverseColor;
//}
//
//.relation.inverse input[type=text] {
//  border-color: red;
//}

.vertex-tree-container {
  &.no-relation-label {
    > .vertex-container {
      .relation {
        .label-container {
          display: none;
        }
        .connector {
          width: 75px;
          &:before {
            left: 35px;
          }
        }
      }
    }
  }
}