/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#schemas-container{
  margin-top:5%;
  li{
    font-size:1.75em;
    button{
      margin-left:10px;
      font-size:0.65em;
    }
  }
  .schema-label{
    font-size:2.5em;
  }
  .schema-container{
    color:black;
    float: left;
    padding:20px;
    &:hover{
      .button{
        display:block;
      }
    }
    &:not(:hover){
      .button{
        display:none;
      }
    }
  }
  .button-container{
    position:absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index:2;
  }
  .button{
    cursor:pointer;
    padding:5px;
    margin-right:15px;
    border-radius:10px;
    font-size:1.4em;
    //&:first-child{
    //  margin-right:5px;
    //}
    //&:not(:first-child){
    //  margin-left:5px;
    //}
    background-color:white;
    float:left;
  }
  .overlay{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    &:hover, &.hover{
      background-color:rgba(255,255,255,0.75);
    }
  }
}