/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#schemas-container{
  margin-top:5%;
  li{
    font-size:1.75em;
    button{
      margin-left:10px;
      font-size:0.65em;
    }
  }
}