/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

@media (max-width: 767px) {
  #header-search-form {
    padding-left: 30px;
  }
}

$zIndex:2000;
.ui-menu, .identifications {
  .ui-menu-item, .references-container {
    border-bottom: 1px solid rgb(211, 210, 210);
    .element-label {
      font-weight: bold;
      font-size: 14px;
      padding-right: 44px;
    }
    a {
      white-space: nowrap;
    }

    span {
      white-space: nowrap;
    }
    .info {
      font-size: 11px;
      * {
        font-size: 11px;
      }
      a {
        color: #1919AC;
        display: inline;
        padding: 0;
        white-space: nowrap;
        &:hover {
          color: #47A3FF;
        }
      }
    }
    .type {
      margin-top: -20px;
      float: right;
    }
    .distinction {
      margin-right: 1em;
      max-width: 428px;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#big-search-box-container {
  .input-group {
    margin: auto;
  }
  .search-icon {
    font-size: 1.7em;
  }
}
.autocomplete-flyout {
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: $zIndex;
  text-align:center;
  border-radius:20px;
  img {
    float: left;
    //margin-right: 0.7em;
    margin-left:0.7em;
    margin-top:0.7em;
    margin-bottom:0.7em;
  }
  .title {
    font-weight: bold;
    margin:0.7em;
    margin-left:0.5em;
  }
  .source {
    font-weight: lighter;
    font-size: 85%;
    margin:0.7em;
    margin-left:0.5em;
  }
  .description{
    margin:0.7em;
    margin-top:0;
    margin-left:0.5em;
    text-align:center;
  }
}

.ui-autocomplete {
  height: 200px;
  overflow-y: scroll;
  z-index: $zIndex;
}

.ui-dialog {
  opacity: 0.9;
}
.distinguish-vertex{
  white-space: nowrap;
  .distinguish-vertex-item{
    display:inline-block;
    float:left;
    text-overflow: ellipsis;
    padding-left: 5px;
    max-width:100%;
    overflow: hidden;
    &:after {
      content: " ● "
    }
    &:last-of-type {
      &:after {
        content: " ..."
      }
    }
  }
}

.search-box{
  background:none;
  border: 2px solid black;
  &:hover{
    background:none;
    border: 1px solid #ebebeb;
  }
  &:focus{
    background:none;
    border: 1px solid #ebebeb;
  }
}

.ui-helper-hidden-accessible{
  display:none !important;
}
#vertex-search-input{
  border-radius:25px;
}
