/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

#word-cloud-container{
  margin-top:5%;
}
#word-cloud {
  text-align:center;
  font-size:30px;
  padding:1em;
  li {
    cursor:pointer;
    max-width: 250px;
    white-space:nowrap;
    display:inline-block;
    text-overflow:ellipsis;
    overflow: hidden;
    box-shadow: $centerVertexBorder;
    border-radius:50px;
    padding:0.25em;
    line-height: 90%;
    margin:0.2em;
    &:hover{
      text-decoration:underline;
    }
  }
}