/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

$edgeSize: 3px;
$edgeColor: #3a87ad;
$edgeInverseColor: darkslateblue;
$edgeStyle: $edgeSize solid $edgeColor;
$linksColor: #00005a;
$relationConnectorHeight: 22px;
$centerVertexBorderColor: midnightblue;
$centerVertexBorder: -1px -2px 1px $centerVertexBorderColor;
$suggestionColor: darkgreen;
$metaColor: purple;
$inLabelButtonsPadding: 8px;
$compareBubbleAddBackgroundColor: #E6FFE6;
$compareBubbleRemoveBackgroundColor: #FFE6E6;
$bubbleFontFamily: arial;
$marginOfHiddenPropertiesToRelation: 25px;

//Bubbles
$hoverOverBubbleColor: transparent;
$selectBubbleColor: transparent;
$enterEditModeColor: transparent;
$bubbleZIndex: 5;
$bubble-box-shadow: 3px 3px 3px black;

//Relations
$hoverOverRelationColor: rgba(68, 201, 251, 0.4);
$selectRelationColor: rgba(68, 201, 251, 0.7);
$enterEditModeRelationColor: rgba(8, 74, 98, 0.7);

$red: #c00000;
$red2: #a72121;
