/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

$edgeSize: 3px;
$edgeColor: #3a87ad;
$edgeInverseColor: darkslateblue;
$edgeStyle: $edgeSize solid $edgeColor;
$linksColor:#00005a;
$relationConnectorHeight:22px;