/*
 * Copyright Vincent Blouin under the GPL License version 3
 */
@import "variables",
"_card.scss",
"layout",
"nav-bar",
"landing",
"authentication",
"graph-structure",
"left-oriented",
"around",
"search",
"menu",
"dialog",
"relation",
"bubble",
"vertex",
"zoom",
"centerBubblesPage",
"schemaList",
"print",
"compare_menu",
"header",
"friends",
"_bootstrap.scss";

html {
  font-size: 93.8%;
  //background-color: white;
  //background-image: -webkit-linear-gradient(0deg, transparent .05em, rgba(0, 0, 0, .05) .05em, rgba(0, 0, 0, .05) .125000em, transparent .125000em),
  //-webkit-linear-gradient(rgba(0, 0, 0, .05) .062500em, transparent .062500em);
  //background-image: -moz-linear-gradient(0deg, transparent .05em, rgba(0, 0, 0, .05) .05em, rgba(0, 0, 0, .05) .125000em, transparent .125000em),
  //-moz-linear-gradient(rgba(0, 0, 0, .05) .062500em, transparent .062500em);
  //background-image: -ms-linear-gradient(0deg, transparent .05em, rgba(0, 0, 0, .05) .05em, rgba(0, 0, 0, .05) .125000em, transparent .125000em),
  //-ms-linear-gradient(rgba(0, 0, 0, .05) .062500em, transparent .062500em);
  //background-image: -o-linear-gradient(0deg, transparent .05em, rgba(0, 0, 0, .05) .05em, rgba(0, 0, 0, .05) .125000em, transparent .125000em),
  //-o-linear-gradient(rgba(0, 0, 0, .05) .062500em, transparent .062500em);
  //background-image: linear-gradient(0deg, transparent .05em, rgba(0, 0, 0, .05) .05em, rgba(0, 0, 0, .05) .125000em, transparent .125000em),
  //inear-gradient(rgba(0, 0, 0, .05) .062500em, transparent .062500em);
  //background-size: 1.3em 1.3em;
  //background-position: 0 -0.5em;

  //background: -webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
  //-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
  //-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
  //-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
  //background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
  //linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
  //linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
  //linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
  //
  //background:
  //-webkit-linear-gradient(45deg, hsla(247, 98%, 45%, 1) 0%, hsla(247, 98%, 45%, 0) 70%),
  //-webkit-linear-gradient(315deg, hsla(301, 95%, 44%, 1) 10%, hsla(301, 95%, 44%, 0) 80%),
  //-webkit-linear-gradient(225deg, hsla(171, 91%, 41%, 1) 10%, hsla(171, 91%, 41%, 0) 80%),
  //-webkit-linear-gradient(135deg, hsla(63, 99%, 44%, 1) 100%, hsla(63, 99%, 44%, 0) 70%);
  //background:
  //linear-gradient(45deg, hsla(247, 98%, 45%, 1) 0%, hsla(247, 98%, 45%, 0) 70%),
  //linear-gradient(135deg, hsla(301, 95%, 44%, 1) 10%, hsla(301, 95%, 44%, 0) 80%),
  //linear-gradient(225deg, hsla(171, 91%, 41%, 1) 10%, hsla(171, 91%, 41%, 0) 80%),
  //linear-gradient(315deg, hsla(63, 99%, 44%, 1) 100%, hsla(63, 99%, 44%, 0) 70%);

  //background-color: red;
  //background:radial-gradient(center center,circle cover,#0091d5 0%,#0091d5 15%,#004a86 100%);
}

body {
  background-color: $grayBackground;
  //background: -webkit-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
  //-webkit-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
  //-webkit-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
  //-webkit-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
  //background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
  //linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
  //linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
  //linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
  &.no-scroll {
    overflow: hidden;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 125%;
  }
}

[draggable] {
  cursor: move;
  -khtml-user-drag: element; //for safari http://stackoverflow.com/a/3977637
}

#mind_map {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h2, h3 {
    line-height: inherit;
  }
}

#language-selector-container {
  a.current {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat: repeat-x;
    color: #262626;
    text-decoration: none;
  }
}

.top-fixed {
  position: fixed;
  top: 10%;
  width: 100%;
  .well {
    background: rgba(245, 245, 245, 0.3);
  }
}

#other-user-menu, #compare-flow-warning {
  font-size: 1.2em;
  z-index: 12;
}

#welcome-content {
  .content {
    > * {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}

.round-button {
  border-radius: 20px;
}

a, input[type=button].link-like-button, button.link-like-button {
  color: $linksColor;
}

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover {
  color: #646464;
}

input[type="button"], .link-like-button {
  border-style: none;
  font: inherit;
  padding: 0 0 0 0;
  background: none;
}

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list {
  margin: auto;
  margin-right: 0.5em;
  color: red;
  font-weight: bold;
  font-size: 1.3em;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
}

#cboxClose {
  left: -5px;
}

.ui-button {
  padding: .4em 1em;
  cursor: pointer;
  font-size: 0.9em;
}

.ui-accordion {
  font-size: 0.9em;
}

.hidden-properties-container {
  z-index: 3;
  min-width: 25px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: $red-dark;
  .loading {
    font-size: 22px;
  }
}

.modal-body {
  .link-like-button {
    font-size: 1em;
  }
}

.link-like-button {
  border-style: none;
  font-size: 0.7em;
  padding: 0 0 0 0;
  background-color: transparent;
  font-weight: normal;
}

.popover {
  /*
  position relative because it gets narrow and misplaced for
  to the right vertices.
   */
  position: relative;
  &.like-tooltip {
    width: auto;
    display: inline-block !important;
    background-color: white;
    .list-group-item > .badge {
      padding: 3px 8px;
      font-size: 13px;
      margin-left: 5px;
    }
    &.top {
      .arrow {
        &:after {
          border-top-color: white;
        }
      }
    }
    &.right {
      .arrow {
        &:after {
          border-right-color: white;
        }
        &:before {
          content: ""
        }
      }
    }

    h3 {
      display: inline-block;
      background-color: white;
      width: auto;
      border-color: white;
      color: black;
      small {
        font-size: 13px;
      }
    }
  }
}

.ui-autocomplete {
  cursor: pointer;
  width: 200px;
  height: auto;
  max-height: 250px;
  position: absolute;
  li.autocomplete-element {
    &.focus, &:hover {
      background-color: #f5f5f5;
    }
  }
}

.not-editable .bubble.single-selected .bubble-label {
  &:after {
    content: "";
    color: grey;
    font-style: italic;
  }
}

.overlay {
  background-color: black;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 999;
}

body > .loading:not(.sr-only) {
  text-align: center;
  left: 50%;
  top: 50%;
  position: fixed;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

input[type=checkbox].form-control {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: -8px;
}

.page-box {
  background-color: white;
  box-shadow: $borderBoxShadow;
}

/*
vertical-horizontal-center
*/
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
vertical-center
*/
.v-center {
  display: flex;
  align-items: center;
}

/*
horizontal-center
*/
.h-center {
  display: flex;
  justify-content: center;
}

.spacer {
  flex-grow: 1 !important;
}

.root-vertex-super-container {
  width: 100%;
  height: 100%;
  //padding-top:50%;
  //padding-bottom:50%;
  table-layout: fixed
}

.icon-btn {
  font-size: 21px !important;
}

.btn.small{
  font-size:11px;
  padding:4px 8px;
}
