/*
 * Copyright Vincent Blouin under the GPL License version 3
 */
@import "authentication",
        "graph-structure",
        "left-oriented",
        "around",
        "search",
        "menu",
        "dialog",
        "relation",
        "bubble",
        "vertex",
        "zoom";


#mind_map {
  cursor: all-scroll;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h2, h3{
    line-height: inherit;
  }
}

#app-presentation {
  margin-top: 5%;
}

#welcome-content{
  .content{
    > *{
      &:not(:first-child){
        margin-top:30px;
      }
    }
  }
}

.round-button{
  border-radius: 20px;
}

.root-vertex-super-container {
  position: absolute;
  padding: 50%;
}

a, input[type=button].link-like-button, button.link-like-button {
  color: #1919AC
}

a:hover, input[type=button].link-like-button:hover, button.link-like-button:hover {
  color: #47A3FF;
}

input[type="button"], .link-like-button {
  border-style: none;
  font: inherit;
  padding: 0 0 0 0;
  background: none;
}

li a.remove-button-in-list, li button.remove-button-in-list, h3 button.remove-button-in-list {
  margin: auto;
  margin-right: 0.5em;
  color: red;
  font-weight: bold;
  font-size: 1.3em;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
}

#cboxClose {
  left: -5px;
}


.ui-button {
  padding: .4em 1em;
  cursor: pointer;
  font-size: 0.9em;
}

.ui-accordion {
  font-size: 0.9em;
}

.main-panel {
  z-index: 12;
  background-color: white;
  opacity: 0.91;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: default;
}

.hidden-properties-container {
  z-index: 3;
  min-width: 25px;
}

.link-like-button {
  border-style: none;
  font-size: 0.7em;
  padding: 0 0 0 0;
  background-color: transparent;
  font-weight: normal;
}